{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% trans "Sheldon" %} &middot; {% block "title" %}{% endblock %}</title>

	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:100,300" media="screen">

	<!-- <link href="{% static 'css/sidebar.css' %}" rel="stylesheet"> -->
	<link href="{% static 'css/base.css' %}" rel="stylesheet">


</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">TeamVault</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#"><i class="fa fa-search"></i> Search / Favorites</a></li>
					<li><a href="#"><i class="fa fa-plus-circle"></i> Add Password</a></li>
					<li><a href="#"><i class="fa fa-folder-o"></i> Browse</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> Administration <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Users and groups</a></li>
							<li><a href="#">Audit</a></li>
							<li><a href="#">Settings</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.username }} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="{% url 'accounts.logout' %}">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	{% block "content" %}{% endblock %}
	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
