{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% trans "TeamVault" %} &middot; {% block title %}{% endblock %}</title>

    <link href="{% url 'opensearch' %}" type="application/opensearchdescription+xml" title="TeamVault" rel="search">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/r-2.4.1/sl-1.6.2/datatables.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>

    <!-- bs4 theme looks a bit better here, even if we're on bs5 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css">


    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'bundled/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/secrets.css' %}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/r-2.4.1/sl-1.6.2/datatables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
{% include "_select2-patches.html" %}

<script>
    const bsOptions = {container: 'body', html: true, trigger : 'hover'}
    function refreshTooltips() {
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl, bsOptions));
    }

    document.addEventListener('DOMContentLoaded', () => {
       refreshTooltips()
    })
</script>

<div class="background"></div>

{% block navbar %}{% include 'base_nav.html' %}{% endblock %}

<div class="container-fluid mt-5">
    {% block content %}{% endblock %}
</div>

{% block footer %}
    <div class="container p-5">
        <footer class="text-center text-muted">
            TeamVault {{ version }} &nbsp; &middot; &nbsp; &copy; 2014-2021 //SEIBERT/MEDIA GmbH
        </footer>
    </div>
{% endblock %}
</body>
</html>
