{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% trans "TeamVault" %} &middot; {% block "title" %}{% endblock %}</title>

	<link href="{% url 'opensearch' %}" type="application/opensearchdescription+xml" title="TeamVault" rel="search">

	<link rel="stylesheet" href="{% static 'bundled/materialize/css/materialize.min.css' %}">
	<link rel="stylesheet" href="{% static 'bundled/jqueryui/jquery-ui.theme.min.css' %}">

	<script type="text/javascript" src="{% static 'bundled/jquery/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bundled/jqueryui/jquery-ui.js' %}"></script>
	<script type="text/javascript" src="{% static 'bundled/font-awesome/js/fontawesome-all.js' %}"></script>
	<script type="text/javascript" src="{% static 'bundled/materialize/js/materialize.min.js' %}"></script>

	<style>
	html {
		background: #e6edf2;
		background: linear-gradient(to bottom,  #e6edf2 0%, #ffffff 100%);
		height: 100%;
	}
	a {
		color: #455a64; /* blue-grey darken-2 */
	}
	</style>

{% block "head" %}{% endblock %}
</head>
<body>
	{% block "body" %}{% endblock %}
</body>
</html>
