{% load gravatar %}
{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'dashboard' %}">{% trans "TeamVault" %}</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <div class="btn-group">
                    <a href="{% url 'secrets.secret-add' content_type='password' %}" class="btn btn-dark"><i
                            class="bi bi-plus-circle"></i>&nbsp; {% trans "Add Password" %}</a>
                    <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" role="menu">
                        <li><a class="dropdown-item" href="{% url 'secrets.secret-add' content_type='cc' %}"><i
                                class="bi bi-credit-card"></i>&nbsp; {% trans "Add Credit Card" %}</a></li>
                        <li><a class="dropdown-item" href="{% url 'secrets.secret-add' content_type='file' %}"><i
                                class="bi bi-upload"></i>&nbsp; {% trans "Upload File" %}</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <form class="flex-fill mx-3" action="{% url 'secrets.secret-list' %}" role="search" method="GET">
                    <div class="input-group search-group">
                        <input id="search" name="search" placeholder="{% trans "Search secrets..." %}"
                               value="{{ request.GET.search }}" type="text" class="form-control">
                        <span class="input-group-btn">
					            <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
				            </span>
                    </div>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if request.user.is_superuser %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminmenu" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear-fill"></i>&nbsp;
                        <span class="d-sm-none d-md-inline">{% trans "Administration" %}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="adminmenu">
                        <li>
                            <a class="dropdown-item" href="{% url 'audit.log' %}">
                                <i class="bi bi-person-lines-fill"></i>&nbsp;{% trans "Audit log" %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'accounts.user-list' %}">
                                <i class="bi bi-people-fill"></i>&nbsp;{% trans "Users" %}
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="usermenu" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="bi bi-person-circle"></i>&nbsp;
                    <span class="d-sm-none d-md-inline">{{ request.user.username }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="usermenu">
                    <a class="dropdown-item disabled" href="#">
                        <i class="bi bi-arrow-left-right"></i>&nbsp; {% trans "1Password sync" %}</a>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" href="{% url 'accounts.logout' %}"><i class="bi bi-door-open-fill"></i>&nbsp; {% trans "Logout" %}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
