include CHANGELOG.md
include LICENSE
include MANIFEST.in
include README.md
include pyproject.toml

recursive-include teamvault *.html
recursive-include teamvault *.json
recursive-include teamvault *.txt
recursive-include teamvault *.xml
recursive-include teamvault/static *
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
recursive-exclude * __pycache__
recursive-exclude node_modules *
