include AUTHORS
include CHANGELOG.md
include LICENSE
include MANIFEST.in
include README.md
recursive-include teamvault *.css
recursive-include teamvault *.html
recursive-include teamvault *.txt
recursive-include teamvault *.xml
recursive-include teamvault/static *
recursive-exclude * .DS_Store
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
