[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
django = "*"
django-auth-ldap = "*"
django-bootstrap5 = "*"
django-filter = "*"
django-htmx = "*"
django-webpack-loader = "*"
djangorestframework = "*"
gunicorn = "*"
hashids = "*"
psycopg2 = "*"
pytz = "*"
social-auth-app-django = "*"
whitenoise = {extras = ["brotli"], version = "*"}
teamvault = {editable = true, path = "."}

[dev-packages]
