[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "~=42.0"
django = "~=4.2"
django-auth-ldap = "~=4.8"
django-bootstrap5 = "24.2"
django-filter = "24.3"
django-htmx = "~=1.19"
django-webpack-loader = "~=3.1"
djangorestframework = "~=3.15"
gunicorn = "~=23.0"
hashids = "~=1.3"
pyotp= '~=2.9'
huey = "~=2.5"
psycopg = "~=3.2"
pytz = "2023.3.post1"
requests = "~=2.32"
social-auth-app-django = "~=5.4"
whitenoise = {extras = ["brotli"], version = "~=6.7"}

[dev-packages]
build = "~=1.2"
twine = "~=5.1"

# CHANGELOGS
#
# cryptography:             https://github.com/pyca/cryptography/blob/main/CHANGELOG.rst
# django:                   https://docs.djangoproject.com/en/5.0/releases/
# django-auth-ldap:         https://github.com/django-auth-ldap/django-auth-ldap/releases
# django-bootstrap5:        https://github.com/zostera/django-bootstrap5/blob/main/CHANGELOG.md
# django-filter:            https://github.com/carltongibson/django-filter/blob/main/CHANGES.rst
# django-htmx:              https://django-htmx.readthedocs.io/en/latest/changelog.html
# django-webpack-loader:    https://github.com/django-webpack/django-webpack-loader/blob/master/CHANGELOG.md
# djangorestframework:      https://www.django-rest-framework.org/community/release-notes/
# gunicorn:                 https://docs.gunicorn.org/en/stable/news.html
# hashids:                  https://pypi.org/project/hashids/ -> Migrate to https://github.com/sqids/sqids-python
# pyotp:                    https://github.com/pyauth/pyotp/blob/develop/Changes.rst
# psycopg:                  https://www.psycopg.org/psycopg3/docs/news.html
# pytz:                     currently no changelogs found, https://github.com/stub42/pytz/tree/master
# requests:                 https://github.com/psf/requests/releases
# social-auth-app-django:   https://github.com/python-social-auth/social-app-django/blob/master/CHANGELOG.md
# whitenoise:               https://whitenoise.readthedocs.io/en/stable/changelog.html
# build:                    https://build.pypa.io/en/stable/changelog.html
# twine:                    https://twine.readthedocs.io/en/stable/changelog.html
# huey:                     https://github.com/coleifer/huey/blob/master/CHANGELOG.md
