{% load i18n %}

<button id="reveal-button" class="btn btn-default btn-lg btn-block" type="button" data-bs-toggle="tooltip"
        data-bs-placement="top" title="{% trans "Reveal" %}" onclick="getCC()">
    <i class="fa fa-magic"></i> &nbsp;<span>{% trans "Reveal" %}</span>
</button>
<br>
<div class="card-wrapper"></div>
<br>
<div id="ccform">
    <input type="hidden" autocomplete="off" name="number" id="id_number">
    <input type="hidden" autocomplete="off" name="holder" id="id_holder">
    <input type="hidden" autocomplete="off" name="expiration_month" id="id_expiration_month">
    <input type="hidden" autocomplete="off" name="expiration_year" id="id_expiration_year">
    <div class="secret-attributes table-responsive">
        <table class="table">
            <tr>
                <td>{% trans "CVV" %}</td>
                <td>
                    <div class="input-group col-md-6">
                        <input class="form-control" id="id_security_code" name="security_code" placeholder="•••"
                               type="text" readonly autocomplete="off">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="copy-ccCode" data-clipboard-target="#id_security_code">
                                <i class="fa fa-clipboard"></i>
                            </button>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{% trans "Password" %}</td>
                <td>
                    <div class="input-group col-md-6">
                        <input class="form-control" id="id_password" name="password" placeholder="•••••••••" type="text"
                               readonly autocomplete="off">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="copy-ccPassword" data-clipboard-target="#id_password">
                                <i class="fa fa-clipboard"></i>
                            </button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
