{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-xxl-5 col-xl-6">
            <h3>{% trans "Recently used secrets" %}</h3>
            <div class="card">
                <div class="card-body table-responsive">
                    <table class="table table-hover align-middle">
                        {% for secret in recently_used_secrets %}
                            {% include "secrets/secret_row.html" %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xxl-5 col-xl-6 mt-3 mt-xl-0">
            <h3>{% trans "Most used secrets" %}</h3>
            <div class="card">
                <div class="card-body table-responsive">
                    <table class="table table-hover align-middle">
                        {% for secret in most_used_secrets %}
                            {% include "secrets/secret_row.html" %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
