{% extends "base_nav.html" %}
{% load i18n %}
{% load staticfiles %}
{% block "title" %}{% trans "Dashboard" %}{% endblock %}
{% block "content" %}
<script>
	$(document).ready(function() {
		$('#search').select();
	});
</script>
<div class="container">
	<div class="row">
		<br><br>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<span class="card-title">{% trans "Recently used secrets" %}</span>
					<div class="">
						<table class="highlight">
							{% for secret in recently_used_secrets %}
							{% include "secrets/secret_row.html" %}
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card">
				<div class="card-content">
					<span class="card-title">{% trans "Most used secrets" %}</span>
					<div class="">
				<table class="highlight">
					{% for secret in most_used_secrets %}
					{% include "secrets/secret_row.html" %}
					{% endfor %}
				</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
