{% load static %}
{% load i18n %}
<div class="modal fade" id="search-modal" tabindex="-1" aria-labelledby="search-modal-label" aria-hidden="true"
     data-search-url="{% url 'secrets.secret-search' %}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl modal-fullscreen-md-down">
        <div class="modal-content">
            <div class="modal-header searchbar">
                <form class="d-flex align-items-center border border-2" action="{% url 'secrets.secret-list' %}" role="search"
                      method="GET">
                    <label id="search-modal-label" for="search-modal-input">
                        <i class="fa fa-search fa-fw text-body"></i>
                    </label>
                    <input id="search-modal-input" name="search" placeholder="{% trans "Search secrets..." %}"
                           type="text" class="form-control" value="{{ request.GET.search }}">

                    <span id="search-indicator" class="spinner-border spinner-border-sm align-middle"
                          role="status" aria-hidden="true" style="visibility: hidden"></span>
                </form>
            </div>
            <div class="modal-body" id="search-modal-results" style="display: none"></div>
            <div class="modal-footer justify-content-between" id="search-modal-footer" style="display: none">
                <div class="row g-0">
                    <div class="col-6 d-flex align-items-end">
                        <ul class="search-modal-actions d-flex d-lg-grid gap-lg-1 small">
                            <!-- Up, Down -->
                            <li>
                                <kbd class="rounded small p-1">
                                    <i class="fa fa-arrow-up fa-fw"></i>
                                </kbd>
                                <kbd class="rounded small p-1">
                                    <i class="fa fa-arrow-down fa-fw"></i>
                                </kbd>
                                <span class="mx-2 text-muted small">{% translate "Navigate" %}</span>
                            </li>

                            <!-- Escape -->
                            <li>
                                <kbd class="rounded small py-1 px-2">ESC</kbd>
                                <span class="mx-2 text-muted small">{% translate "Close" %}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 text-end">
                        <div class="row">
                            <div class="col-12 small">
                                <span id="search-modal-result-count"></span>
                            </div>
                        </div>
                        <div class="row d-inline-block mt-1">
                            <div class="col-12">
                                <a id="search-modal-result-count-link" class="btn btn-accent btn-sm"
                                   href="{% url "secrets.secret-list" %}">
                                    {% translate "Show all" %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
