{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% block title %}{{ secret.name }}{% endblock %}
{% block content %}
    <div class="large-type invisible"></div>

    <div class="container">
        <!-- Secret header -->
        <div class="row mb-3">
            <div class="col-lg-12">
                <h1 class="fa-pull-left">
                    {{ secret.name }}
                </h1>
                <h1 class="fa-pull-right secret-icons">
                    {% if secret.status == secret.STATUS_DELETED %}
                        <span data-bs-toggle="tooltip" data-bs-placement="bottom"
                              title="{% trans "This secret has been deleted and is not visible to regular users." %}"
                              class="text-danger-bright"><i class="fa fa-trash"></i></span>
                        <span class="text-muted-bright">|</span>
                    {% elif secret.status == secret.STATUS_NEEDS_CHANGING %}
                        <span data-bs-toggle="tooltip" data-bs-placement="bottom"
                              title="{% trans "This secret must be changed for security reasons. Please do so now." %}"
                              class="text-danger-bright"><i class="fa fa-refresh"></i>
                        </span>
                        <span class="text-muted-bright">|</span>
                    {% endif %}
                    {% if readable %}
                        <span data-bs-toggle="tooltip" data-bs-placement="bottom"
                              title="{% trans "You have access to this secret." %}" class="text-success-bright">
                            <i class="fa fa-lock-open"></i>
                        </span>
                    {% else %}
                        <span data-bs-toggle="tooltip" data-bs-placement="bottom"
                              title="{% trans "You don't have access to this secret." %}" class="text-danger-bright">
                            <i class="fa fa-lock"></i>
                        </span>
                    {% endif %}
                </h1>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-8 mb-3 mb-lg-0">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                {% if readable %}
                                    {% block secret_content %}
                                    {% endblock %}
                                {% else %}
                                    <div class="alert alert-danger text-center">
                                        {% trans "You do not have access to this secret." %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% block secret_attributes %}
                        {% endblock %}
                        {% if readable %}
                            <hr>
                            <div class="row justify-content-between">
                                <div class="btn-group btn-group-lg gap-2 px-lg-3" role="group">
                                    <button class="btn btn-light bg-light" data-bs-toggle="modal"
                                            data-bs-target="#share-secret-modal">
                                        <i class="fa fa-share-alt fa-fw text-secondary"></i>
                                        {% trans "Share" %}
                                    </button>
                                    <div class="vr"></div>
                                    <a class="btn btn-light bg-light"
                                       href="{% url "secrets.secret-edit" secret.hashid %}">
                                        <i class="fa fa-pencil fa-fw text-info-emphasis"></i> {% trans "Edit" %}
                                    </a>
                                    <div class="vr"></div>
                                    {% if secret.status == secret.STATUS_DELETED %}
                                        <a class="btn btn-light bg-light"
                                           href="{% url "secrets.secret-restore" secret.hashid %}"
                                           title="{% trans "Undelete this secret" %}"><i
                                                class="fa fa-undo fa-fw text-info-emphasis"></i> {% trans "Restore" %}
                                        </a>
                                    {% else %}
                                        <a class="btn btn-light bg-light"
                                           href="{% url "secrets.secret-delete" secret.hashid %}"><i
                                                class="fa fa-trash fa-fw text-danger-emphasis"></i> {% trans "Delete" %}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4" hx-get="{% url 'secrets.secret-metadata' hashid=secret.hashid %}"
                 hx-trigger="load, refreshMetadata from:body">
            </div>
        </div>
    </div>

    {% if readable %}
        <div class="modal fade" id="share-secret-modal" tabindex="-1" aria-labelledby="share-secret-modal-label"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl modal-fullscreen-md-down">
                <div class="modal-content" hx-get="{% url "secrets.secret-share" hashid=secret.hashid %}"
                     hx-trigger="load">
                </div>
            </div>
        </div>
    {% endif %}
    {% if su_access %}
        {% include "_su_confirm_modal.html" %}
    {% endif %}
    {% include 'secrets/detail_content/_js.html' %}
{% endblock %}
