{% extends "secrets/secret_addedit.html" %}
{% load i18n %}
{% block "nav_add_password" %}active{% endblock %}
{% block "content_type_fields" %}
<div class="ui fluid labeled action input">
	<div class="ui label">
		{% trans "Password" %}
	</div>
	<input
	id="password"
	name="password"
	placeholder="{% if secret %}{% trans "(unchanged)" %}{% else %}**************{% endif %}"
	{% if not secret %}required="required"{% endif %}
	type="password"
	value="{% if form.is_bound and not secret %}{{ form.password.value }}{% endif %}"
	style="font-family: 'Ubuntu Mono', monospace;"
	>
	<div class="ui icon button" title="{% trans "Reveal password" %}" id="password_reveal"><i class="eye icon"></i></div>
	<div class="ui icon button" title="{% trans "Hide password" %}" id="password_hide" style="display: none;"><i class="eye slash icon"></i></div>
	<div class="ui icon button" title="{% trans "Generate password" %}" id="password_generate"><i class="sync icon"></i></div>
</div>
<div class="ui tiny progress" id="password_strength" style="margin-bottom: 12px;">
	<div class="bar"></div>
</div>


<div class="ui accordion">
	<div class="{% if secret %}active{% endif %} title">
		<i class="dropdown icon"></i>
		{% trans "Username and URL" %}
	</div>
	<div class="{% if secret %}active{% endif %} content">
		<div class="ui field">
			<div class="ui fluid labeled input">
				<div class="ui label">
					{% trans "Username" %}
				</div>
				<input name="username" placeholder="{% trans "(optional)" %}" type="text" value="{{ form.username.value|default_if_none:"" }}">
			</div>
		</div>
		<div class="ui field">
			<div class="ui fluid labeled input">
				<div class="ui label">
					{% trans "URL" %}
				</div>
				<input name="username" placeholder="{% trans "(optional)" %}" type="text" value="{{ form.url.value|default_if_none:"" }}">
			</div>
		</div>
	</div>
</div>
<script>
	function generatePassword() {
		const charset = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
		const length = 32;
		var password = "";
		values = new Uint32Array(length);
		window.crypto.getRandomValues(values);
		for (var i = 0; i < length; i++) {
			password += charset[values[i] % charset.length];
		}
		return password;
	}
	function ratePassword () {
		var score = zxcvbn($("#password").val(), user_inputs=[]).score;
		$("#password_strength").progress("remove success");
		$("#password_strength").removeClass("red orange yellow olive green");
		if (score == 0) { $("#password_strength").addClass("red"); }
		else if (score == 1) { $("#password_strength").addClass("orange"); }
		else if (score == 2) { $("#password_strength").addClass("yellow"); }
		else if (score == 3) { $("#password_strength").addClass("olive"); }
		else if (score == 4) { $("#password_strength").addClass("green"); }
		$("#password_strength").progress({percent: score * 25});
	}
	$("#password").keyup(function() {
		ratePassword();
	});
	$("#password_reveal").click(function() {
		$("#password").prop("type", "text");
		$("#password_reveal").hide();
		$("#password_hide").show();
	});
	$("#password_hide").click(function() {
		$("#password").prop("type", "password");
		$("#password_reveal").show();
		$("#password_hide").hide();
	});
	$("#password_generate").click(function() {
		$("#password").val(generatePassword());
		ratePassword();
	});
</script>
{% endblock %}
