{% load i18n %}
<tr>
	<td>
		&nbsp;
		{% if secret not in readable_secrets %}
		<i class="fa fa-lock"></i>&nbsp;
		{% endif %}
		{% if secret.content_type == secret.CONTENT_PASSWORD %}
		<i class="fa fa-user"></i>
		{% elif secret.content_type == secret.CONTENT_FILE %}
		<i class="fa fa-file"></i>
		{% elif secret.content_type == secret.CONTENT_CC %}
		<i class="fa fa-credit-card"></i>
		{% endif %}
	</td>
	<td>
		<a href="{{ secret.get_absolute_url }}">
			{{ secret.name }}
		</a>
	</td>
	<td>
		{% if secret.username %}
		<span>{{ secret.username }}</span>
		{% endif %}
		{% if secret.filename %}
		<span>{{ secret.filename }}</span>
		{% endif %}
	</td>
	<td>
		{% if secret.status == secret.STATUS_DELETED %}
		<span class="red-text"><i class="fas fa-trash"></i></span>&nbsp;
		{% elif secret.status == secret.STATUS_NEEDS_CHANGING %}
		<span class="red-text"><i class="fas fa-refresh"></i></span>&nbsp;
		{% endif %}
	</td>
</tr>
