{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% block title %}
    {% if secret %}
        {% blocktrans with secret.name as name %}Edit '{{ name }}'{% endblocktrans %}
    {% else %}
        {% blocktrans %}Add {{ pretty_content_type }}{% endblocktrans %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-8 col-xxl-7">
            <div class="row mb-3">
                <h1>
                    {% if secret %}
                        {% blocktrans with secret.name as name %}Edit {{ pretty_content_type }} '{{ name }}'
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans %}Add {{ pretty_content_type }}{% endblocktrans %}
                    {% endif %}
                </h1>
            </div>
            <div class="row">
                {% if form.non_field_errors %}
                    <div class="col-12 alert alert-danger" role="alert">
                        {% trans "There was a problem with your request:" %}
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form role="form" method="POST" class="d-grid row-gap-3" {% block form_attributes %}{% endblock %}>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header" id="searchable_toggle_bar">
                                    <i class="fa fa-search fa-fw"></i> {% trans "Searchable fields" %}
                                    <a href="#searchable-details" id="searchable_toggle_icon"
                                       data-bs-toggle="collapse" role="button"
                                       aria-expanded="{% if form.is_bound or secret %}true{% else %}false{% endif %}"
                                       aria-controls="searchable-details" class="secret-detail-toggle"><i></i>
                                    </a>
                                </div>
                                <div class="card-body">
                                    {% bootstrap_field form.name layout="horizontal" label_class="form-label" placeholder="My secret..." %}
                                    <div id="searchable-details"
                                         class="collapse {% if form.is_bound or secret %}show{% endif %}">
                                        {% bootstrap_field form.description layout="horizontal" placeholder="(optional)" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header" id="secret_toggle_bar">
                                    <i class="fa fa-user-secret fa-fw"></i> {% trans "Secret information" %}
                                    <a href="#" data-bs-target="#secret-details"
                                       data-bs-toggle="collapse" role="button"
                                       aria-expanded="{% if form.is_bound or secret %}true{% else %}false{% endif %}"
                                       aria-controls="secret-details" class="secret-detail-toggle"><i></i>
                                    </a>
                                </div>
                                <div class="card-body">
                                    {% block content_type_fields %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header" id="access_toggle_bar">
                                    <i class="fa fa-lock fa-fw"></i> {% trans "Access control" %}
                                    <a href="#access-details"
                                       data-bs-toggle="collapse" role="button"
                                       aria-expanded="{% if form.is_bound or secret %}true{% else %}false{% endif %}"
                                       aria-controls="access-details" class="secret-detail-toggle"><i></i>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div id="access-details"
                                         class="collapse {% if form.is_bound or secret %}show{% endif %}">
                                        <div class="row mb-3 required justify-content-between">
                                            <label class="col-xl-auto col-form-label form-label">{{ form.access_policy.label }}</label>
                                            <div class="col-xl-auto">{{ form.access_policy }}</div>
                                            <div class="col-xl-6">
                                                <p class="form-control-plaintext">{% trans "<em>Discoverable</em> means the secret will show up in search results for all users, but they will not have access unless they're included in the list of groups and users below.<br><br><em>Everyone</em> will let all users access the secret without the need to grant access below.<br><br><em>Hidden</em> will reveal the existence of the secret and its contents only to users who have been granted access." %}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-end">
                            <button type="submit" class="btn btn-primary btn-lg">
                                {% trans "Save" %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJS %}
    <script>
        const passwordField = document.getElementById('id_password')
        const passwordGeneratorField = document.getElementById('id_pwgen')
        const passwordStrengthField = document.getElementById('id_password_strength')
        passwordField.generated = false

        function ratePassword() {
            let score = zxcvbn(passwordField.value.toString()).score + 1;
            let color = "text-warning-bright";
            if (!passwordField.value) {
                color = "text-muted";
                score = 0;
            } else if (score <= 2) {
                color = "text-danger-bright";
            } else if (score === 5) {
                color = "text-success-bright";
            }
            var filled_star = `<i class='fas fa-star ${color}'></i>`;
            var hollow_star = `<i class='far fa-star ${color}'></i>`;
            passwordStrengthField.innerHTML = filled_star.repeat(score) + hollow_star.repeat(5 - score)
        }

        async function generatePassword() {
            const source = await fetch('{% url 'api.generate-password' %}');
            return source.json();
        }

        passwordField.addEventListener('keyup', () => {
            ratePassword();
            passwordField.generated = false;
            setTimeout(function () {
                    if (!passwordField.generated) {
                        passwordField.type = 'password'
                    }
                },
                2000
            );
        })
        passwordGeneratorField.addEventListener('focusout', () => {
            setTimeout(
                function () {
                    if (document.activeElement !== passwordField) {
                        passwordField.type = 'password'
                    }
                },
                1000
            )
        })
        passwordGeneratorField.addEventListener('click', async () => {
            passwordField.value = await generatePassword()
            ratePassword();
            passwordField.type = 'text'
            passwordField.generated = true
        })
    </script>
{% endblock %}
