{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% block title %}
    {% if secret %}
        {% blocktrans with secret.name as name %}Edit '{{ name }}'{% endblocktrans %}
    {% else %}
        {% blocktrans %}Add {{ pretty_content_type }}{% endblocktrans %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-8 col-xxl-6">
            <div class="row mb-3">
                <h1>
                    {% if secret %}
                        {% blocktrans with secret.name as name %}Edit {{ pretty_content_type }} '{{ name }}'
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans %}Add {{ pretty_content_type }}{% endblocktrans %}
                    {% endif %}
                </h1>
            </div>
            <div class="row">
                {% if form.non_field_errors %}
                    <div class="col-12 alert alert-danger" role="alert">
                        {% trans "There was a problem with your request:" %}
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form role="form" method="POST" class="d-grid row-gap-3" {% block form_attributes %}{% endblock %}>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header" id="searchable_toggle_bar">
                                    <i class="fa fa-search"></i> &nbsp; {% trans "Searchable fields" %}
                                    <a style="float: right;" href="#" id="searchable_toggle_icon">
                                        <i class="fa fa-{% if form.is_bound or secret %}minus{% else %}plus{% endif %}-square-o"></i>
                                    </a>
                                </div>
                                <div class="card-body">
                                    {% bootstrap_field form.name layout="horizontal" label_class="form-label" placeholder="My secret..." %}
                                    <div class="searchable-details">
                                        {% bootstrap_field form.description layout="horizontal" placeholder="(optional)" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header" id="secret_toggle_bar">
                                    <i class="fa fa-user-secret"></i> &nbsp; {% trans "Secret information" %}
                                    <a style="float: right;" href="#" id="secret_toggle_icon">
                                        <i class="fa fa-{% if form.is_bound or secret %}minus{% else %}plus{% endif %}-square-o"></i>
                                    </a>
                                </div>
                                <div class="card-body">
                                    {% block content_type_fields %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header" id="access_toggle_bar">
                                    <i class="fa fa-lock"></i> &nbsp; {% trans "Access control" %}
                                    <a style="float: right;" href="#" id="access_toggle_icon"><i
                                            class="fa fa-{% if form.is_bound or secret %}minus{% else %}plus{% endif %}-square-o"></i>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="access-details">
                                        <div class="row mb-3 required justify-content-between">
                                            <label class="col-xl-auto col-form-label form-label">{{ form.access_policy.label }}</label>
                                            <div class="col-xl-auto">{{ form.access_policy }}</div>
                                            <div class="col-xl-6">
                                                <p class="form-control-plaintext">{% trans "<em>Discoverable</em> means the secret will show up in search results for all users, but they will not have access unless they're included in the list of groups and users below.<br><br><em>Everyone</em> will let all users access the secret without the need to grant access below.<br><br><em>Hidden</em> will reveal the existence of the secret and its contents only to users who have been granted access." %}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            {% bootstrap_field form.allowed_groups %}
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            {% bootstrap_field form.allowed_users %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-lg pull-right">
                                {% trans "Save" %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        {% if not form.is_bound and not secret %}
            $(".searchable-details").hide();
            $(".secret-details").hide();
            $(".access-details").hide();
            $(".notifications-details").hide();
        {% endif %}
        $("#searchable_toggle_bar").click(function () {
            $(".searchable-details").is(':visible') ? $("#searchable_toggle_icon").html('<i class="fa fa-plus-square-o"></i>') : $("#searchable_toggle_icon").html('<i class="fa fa-minus-square-o"></i>');
            $(".searchable-details").slideToggle();
        });
        $("#secret_toggle_bar").click(function () {
            $(".secret-details").is(':visible') ? $("#secret_toggle_icon").html('<i class="fa fa-plus-square-o"></i>') : $("#secret_toggle_icon").html('<i class="fa fa-minus-square-o"></i>');
            $(".secret-details").slideToggle();
        });
        $("#access_toggle_bar").click(function () {
            $(".access-details").is(':visible') ? $("#access_toggle_icon").html('<i class="fa fa-plus-square-o"></i>') : $("#access_toggle_icon").html('<i class="fa fa-minus-square-o"></i>');
            $(".access-details").slideToggle();
        });
        $("#notifications_toggle_bar").click(function () {
            $(".notifications-details").is(':visible') ? $("#notifications_toggle_icon").html('<i class="fa fa-plus-square-o"></i>') : $("#notifications_toggle_icon").html('<i class="fa fa-minus-square-o"></i>');
            $(".notifications-details").slideToggle();
        });
        String.prototype.repeat = function (times) {
            return (new Array(times + 1)).join(this);
        };

        function ratePassword() {
            var score = zxcvbn($("#id_password").val(), user_inputs = []).score + 1;
            var color = "text-warning-bright";
            if (!$("#id_password").val()) {
                color = "text-muted";
                score = 0;
            } else if (score <= 2) {
                color = "text-danger-bright";
            } else if (score == 5) {
                color = "text-success-bright";
            }
            var filled_star = "<i class='fa fa-star " + color + "'></i>";
            var hollow_star = "<i class='fa fa-star-o " + color + "'></i>";
            $("#id_password_strength").html(filled_star.repeat(score) + hollow_star.repeat(5 - score));
        }

        $("#id_password").keyup(function () {
            ratePassword();
            $("#id_password").generated = false;
            setTimeout(
                function () {
                    if (!$("#id_password").generated) {
                        $("#id_password").prop("type", "password");
                    }
                },
                2000
            );
        });
        $("#id_pwgen").focusout(function () {
            setTimeout(
                function () {
                    if (!$('#id_password').is(':focus')) {
                        $("#id_password").prop("type", "password");
                    }
                },
                1000
            );
        });
        $("#id_pwgen").click(function () {
            $("#id_password").val(generatePassword(32, false));
            ratePassword();
            $("#id_password").prop("type", "text");
            $("#id_password").generated = true;
        });
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
            $("#id_password").generated = false;
            $("#id_allowed_groups").select2({
                tokenSeparators: [",", " "],
                minimumInputLength: 3,
                multiple: true,
                ajax: {
                    url: '{% url "accounts.search-groups" %}',
                    dataType: "json",
                    data: function ({term}) {
                        return {
                            q: term
                        };
                    },
                    results: function (data, page) {
                        return data;
                    }
                }
            });
            $("#id_allowed_users").select2({
                tokenSeparators: [",", " "],
                minimumInputLength: 3,
                multiple: true,
                ajax: {
                    url: '{% url "accounts.search-users" %}',
                    dataType: "json",
                    data: function ({term}) {
                        return {
                            q: term
                        };
                    },
                    results: function (data, page) {
                        return data;
                    }
                }
            });
            {% if not secret and not form.allowed_users.value %}
                $("#id_allowed_users").val({{ request.user.id }});
                $("#id_allowed_users").trigger('change');
            {% endif %}
        });
    </script>
{% endblock %}
