{% extends "base_nav.html" %}
{% load humanize %}
{% load i18n %}
{% load staticfiles %}
{% load smart_pagination %}
{% block "title" %}{% trans "Browse" %}{% endblock %}
{% block "nav_browse" %}active{% endblock %}
{% block "content" %}
<!-- <script>
	$(document).ready(function() {
		$('#search').select();
	});
</script> -->
<div class="container">
	<div class="row">
		<div class="s12">
			<h3>
				{% if request.GET.search %}
				{% blocktrans with search=request.GET.search %}Search results for '{{ search }}'...{% endblocktrans %}
				{% else %}
				{% trans "Browse all secrets" %}
				{% endif %}

			</h3>
			{% blocktrans with count=page_obj.paginator.count %}{{ count }} item(s) found{% endblocktrans %}
			<br><br>
			<div class="card">
				<table class="bordered highlight">
					{% for secret in secrets %}
					{% include "secrets/secret_row.html" %}
					{% endfor %}
				</table>
			</div>
			<br>
			{% include "pagination.html" %}
		</div>
	</div>
</div>
{% endblock %}
