{% extends "secrets/secret_addedit.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block content_type_fields %}
    <div class="row mb-3">
        <div class="col-xl-2">
            <label class="form-label" for="id_password">{% trans "Password" %}</label>
        </div>
        <div class="col-xl-8">
            <div class="input-group">
                <input class="form-control" id="id_password" name="password"
                       placeholder="{% if secret %}{% trans "(unchanged)" %}{% else %}**************{% endif %}"
                       {% if not secret %}required="required"{% endif %} type="password"
                       value="{% if form.is_bound and not secret %}{{ form.password.value }}{% endif %}">
                <span class="input-group-text" title="{% trans "Password strength" %}" id="id_password_strength">
                    {% for i in '12345'|make_list %}
                        <i class="fa fa-star-o text-muted"></i>
                    {% endfor %}
                </span>
                <button class="btn btn-outline-secondary text-dark" id="id_pwgen" type="button"
                        title="{% trans "Generate random password" %}">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
            <div class="form-text">
                <i class="fa fa-lock"></i>
                &nbsp; {% trans "This field will be stored securely." %}
            </div>
        </div>
    </div>

    {% bootstrap_field form.username placeholder="(optional)" layout="horizontal" %}
    <div class="secret-details">
        {% bootstrap_field form.url placeholder="(optional)" layout="horizontal" %}
    </div>
{% endblock %}
