{% load static %}
{% load i18n %}
<div class="modal fade" id="search-modal" tabindex="-1" aria-labelledby="search-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header searchbar">
                <form class="d-flex align-items-center" action="{% url 'secrets.secret-list' %}" role="search"
                      method="GET">
                    <label id="search-modal-label" for="search-modal-input">
                        <i class="fa fa-search fa-fw"></i>
                    </label>
                    <input id="search-modal-input" name="search" placeholder="{% trans "Search secrets..." %}"
                           value="{{ request.GET.search }}" type="text" class="form-control" autofocus>

                    <span id="search-indicator" class="spinner-border spinner-border-sm align-middle"
                          role="status" aria-hidden="true" style="visibility: hidden"></span>
                </form>
            </div>
            <div class="modal-body" id="search-modal-results" style="display: none">
                <div class="mt-3 me-2 text-end" id="search-modal-result-count"></div>
            </div>
            <div class="modal-footer" id="search-modal-footer"></div>
        </div>
    </div>
</div>

<script>
    document.getElementById('search-modal').addEventListener('shown.bs.modal', () => {
        document.getElementById('search-modal-input').focus()
    })
    document.addEventListener('keydown', (e) => {
        if (e.key === 'k' && (e.metaKey || e.ctrlKey)) {
            e.preventDefault()
            window.bootstrap.Modal.getOrCreateInstance('#search-modal').show()
        }
    })
</script>

<script>
    const autoCompleteTreshold = 3;
    const autoCompleteDebounce = 300;
    const searchModal = document.getElementById("search-modal")
    const searchIndicator = document.getElementById("search-indicator")
    const searchModalResults = document.getElementById("search-modal-results")
    const searchResultCountContainer = document.getElementById('search-modal-result-count')
    const autoCompleteJS = new window.autoComplete({
        name: "secretSearchAutoComplete",
        data: {
            src: async (query) => {
                try {
                    const source = await fetch(`{% url 'secrets.secret-search' %}?q=${query}`);
                    this.originalData = await source.json();
                    return this.originalData.results
                } catch (error) {
                    return error;
                }
            },
            cache: false,
        },
        query: (input) => {
            return DOMPurify.sanitize(input)
        },
        selector: "#search-modal-input",
        threshold: autoCompleteTreshold,
        debounce: autoCompleteDebounce,
        searchEngine: (query, record) => {
            // since our API does the searching, deactivate matching
            return record
        },
        wrapper: false,
        resultsList: {
            class: "list-group px-2",
            destination: "#search-modal-results",
            position: "afterbegin",
            element: (list, data) => {
                if (data.results.length > 0) {
                    searchResultCountContainer.innerHTML = `<span>Displaying <strong>${data.results.length}</strong> out of <strong>${this.originalData.count}</strong> results</span>`;
                } else {
                    searchResultCountContainer.innerHTML = `<span>Found <strong>${data.matches.length}</strong> matching results for <strong>"${DOMPurify.sanitize(data.query)}"</strong></span>`;
                }
            },
            maxResults: undefined,
            noResults: true,
            tag: "div",
        },
        resultItem: {
            class: "list-group-item list-group-item-action search-modal-result",
            element: (item, data) => {
                item.href = data.value.url;
                item.innerHTML = `{% include "secrets/search/_search_item.html" %}`;
            },
            highlight: "autoComplete_highlight",
            selected: "autoComplete_selected",
            tag: "a",
        },
        events: {
            input: {
                input: (event) => {
                    setTimeout(() => {
                        autoCompleteJS.start();
                        if (event.target.value.length >= autoCompleteTreshold) {
                            searchIndicator.style.visibility = 'visible';
                        }
                    }, autoCompleteDebounce)
                },
                close: () => {
                    searchModalResults.style.display = 'none';
                    searchResultCountContainer.innerHTML = '';
                },
                selection: (event) => {
                    autoCompleteJS.input.blur();
                    searchModal.modal.hide();
                    const feedback = event.detail;
                    window.location.replace(feedback.selection.value['url'])
                },
                blur: (event) => {
                    /* Don't hide results after focus loss */
                    event.preventDefault()
                },
                response: () => {
                    searchIndicator.style.visibility = 'hidden'
                },
                results: () => {
                    searchModalResults.style.display = 'block'
                }
            },
        }
    })
</script>
