{% extends "secrets/secret_addedit.html" %}
{% load i18n %}
{% block form_attributes %}enctype="multipart/form-data"{% endblock %}
{% block content_type_fields %}
    <script>
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this);
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $(document).ready(function () {
            $('.btn-file :file').on('fileselect', function (event, label) {
                let input = $(this).parents('.input-group').find(':text');
                input.val(label);
            });
        });
    </script>
    <div class="row g-3">
        <div class="col-sm-2">
            <span class="form-label">{% trans "File" %}</span>
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <input type="text" class="form-control" readonly autocomplete="off"
                       placeholder="{% if secret %}{% trans "(unchanged)" %}{% else %}{% trans "No file selected" %}{% endif %}">
                <label class="btn btn-outline-dark btn-file">
                    {% trans "Browse..." %}
                    <input id="id_file" name="file" type="file" hidden {% if not secret %}required="required"{% endif %}>
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="form-control-plaintext"><i class="fa fa-lock"></i> &nbsp; {% trans "This file will be stored securely." %}</p>
        </div>
    </div>
{% endblock %}
