{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% block title %}{{ secret.name }}{% endblock %}
{% block content %}
    <div class="large-type invisible"></div>

    <div class="container">
        <!-- TODO: Fix messages -->
        <!--
        <div class="row">
            <div class="col-md-12">
                <div class="tickermessage tickermessage-password info d-none">
                    {% trans "Password has been copied to your clipboard." %}
                </div>
                <div class="tickermessage tickermessage-username info d-none">
                    {% trans "Username has been copied to your clipboard." %}
                </div>
                <div class="tickermessage tickermessage-url info d-none">
                    {% trans "URL has been copied to your clipboard." %}
                </div>
                <div class="tickermessage tickermessage-code info d-none">
                    {% trans "Code has been copied to your clipboard." %}
                </div>
            </div>
        </div>
        -->

        <!-- Secret header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="pull-left">
                    {{ secret.name }}
                </h1>
                <h1 class="pull-right secret-icons">
                    {% if secret.status == secret.STATUS_DELETED %}
                        <span data-bs-toggle="tooltip" data-bs-placement="bottom"
                              title="{% trans "This secret has been deleted and is not visible to regular users." %}"
                              class="text-danger-bright"><i class="fa fa-trash"></i></span>
                        <span class="text-muted-bright">|</span>
                    {% elif secret.status == secret.STATUS_NEEDS_CHANGING %}
                        <span data-bs-toggle="tooltip" data-bs-placement="bottom"
                              title="{% trans "This secret must be changed for security reasons. Please do so now." %}"
                              class="text-danger-bright"><i class="fa fa-refresh"></i>
                        </span>
                        <span class="text-muted-bright">|</span>
                    {% endif %}
                    {% if readable %}
                        <span data-bs-toggle="tooltip" data-bs-placement="bottom"
                              title="{% trans "You have access to this secret." %}" class="text-success-bright">
                            <i class="fa fa-unlock"></i>
                        </span>
                    {% else %}
                        <span data-bs-toggle="tooltip" data-bs-placement="bottom"
                              title="{% trans "You don't have access to this secret." %}" class="text-danger-bright">
                            <i class="fa fa-lock"></i>
                        </span>
                    {% endif %}
                </h1>
            </div>
        </div>

        <!-- Secret data -->
        <div class="row">
            <div class="col-md-8 secret-main">
                {% if readable %}
                    {% block secret_content %}
                    {% endblock %}
                {% else %}
                    <div class="alert alert-danger text-center">
                        {% trans "You do not have access to this secret." %}
                    </div>
                {% endif %}
                <hr>
                <div class="secret-attributes">
                    <table class="table-responsive">
                        {% if secret.url %}
                            <tr>
                                <td>{% trans "URL" %}</td>
                                <td>
                                    <a id="secret-url" href="{{ secret.url }}">{{ secret.url }}</a>
                                    &nbsp;
                                    <button class="btn btn-default btn-xs" id="copy-url"
                                            data-clipboard-target="#secret-url"><i class="fa fa-clipboard"></i></button>
                                </td>
                            </tr>
                        {% endif %}
                        {% if secret.username %}
                            <tr>
                                <td>{% trans "Username" %}</td>
                                <td>
                                    <span id="secret-username">{{ secret.username }}</span>
                                    &nbsp;
                                    <button class="btn btn-default btn-xs" id="copy-username"
                                            data-clipboard-target="#secret-username"><i class="fa fa-clipboard"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endif %}
                        {% if secret.description %}
                            <tr>
                                <td>{% trans "Description" %}</td>
                                <td>{{ secret.description|linebreaksbr|urlize }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
                <hr>
                {% if readable %}
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <a class="btn btn-default btn-lg" href="{% url "secrets.secret-edit" secret.hashid %}"><i
                                    class="fa fa-pencil"></i>&nbsp; {% trans "Edit" %}</a>
                        </div>
                        <div class="btn-group">
                            {% if secret.status == secret.STATUS_DELETED %}
                                <a class="btn btn-default btn-lg"
                                   href="{% url "secrets.secret-restore" secret.hashid %}"
                                   title="{% trans "Undelete this secret" %}"><i
                                        class="fa fa-undo"></i>&nbsp; {% trans "Restore" %}</a>
                            {% else %}
                                <a class="btn btn-default btn-lg"
                                   href="{% url "secrets.secret-delete" secret.hashid %}"><i class="fa fa-trash"></i>&nbsp; {% trans "Delete" %}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-3 col-md-offset-1 secret-meta">
                <table>
                    <tr>
                        <td>{% trans "Changed" %}</td>
                        <td><span data-bs-toggle="tooltip" data-bs-placement="top"
                                  title="{{ secret.last_changed|date:"Y-m-d H:i:s e" }}">{{ secret.last_changed|naturalday:"Y-m-d" }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "Changed by" %}</td>
                        <td>{{ secret.current_revision.set_by.username }}</td>
                    </tr>
                    <tr>
                        <td class="separator"></td>
                        <td class="separator"></td>
                    </tr>
                    <tr>
                        <td>{% trans "Created" %}</td>
                        <td><span data-bs-toggle="tooltip" data-bs-placement="top"
                                  title="{{ secret.created|date:"Y-m-d H:i:s e" }}">{{ secret.created|naturalday:"Y-m-d" }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans "Created by" %}</td>
                        <td>{{ secret.created_by.username }}</td>
                    </tr>
                    <tr>
                        <td class="separator"></td>
                        <td class="separator"></td>
                    </tr>
                    <tr>
                        <td>{% trans "Allowed" %}</td>
                        <td>
						<span data-bs-toggle="tooltip" data-bs-placement="left"
                              title="{% for group in secret.allowed_groups.all %}{{ group.name }}<br>{% endfor %}">
							{% blocktrans with groupcount=secret.allowed_groups.all|length %}
                                {{ groupcount }} group(s)
                            {% endblocktrans %}
						</span><br>
                            <span data-bs-toggle="tooltip" data-bs-placement="left"
                                  title="{% for user in secret.allowed_users.all %}{{ user.username }}<br>{% endfor %}">
							{% blocktrans with usercount=secret.allowed_users.all|length %}
                                {{ usercount }} user(s)
                            {% endblocktrans %}
						</span>
                        </td>
                    </tr>
                    {% if request.user.is_superuser %}
                        <tr>
                            <td class="separator"></td>
                            <td class="separator"></td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-address-card-o" aria-hidden="true"></i> &nbsp;
                                <a href="{% url 'audit.log' %}?secret={{ secret.hashid }}">{% trans "Audit log" %}</a>
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    {% include 'secrets/detail_content/_js.html' %}
    <script type="text/javascript">
        $(document).ready(function () {
            // $(".tickermessage").hide();  // TODO: Should be hidden per css immediately
        });
    </script>
    <script src="{% static 'bundled/bigtext/dist/bigtext.js' %}"></script>
{% endblock %}
