{% load i18n %}

<div class="row list-group-item d-flex justify-content-between">
    <!-- Icons -->
    <div class="col-auto ps-0">
        {% if secret not in readable_secrets %}
            <i class="fa fa-lock fa-fw"></i>&nbsp;
        {% endif %}
        {% if secret.content_type == secret.CONTENT_PASSWORD %}
            <i class="fa fa-user fa-fw"></i>
        {% elif secret.content_type == secret.CONTENT_FILE %}
            <i class="fa fa-file fa-fw"></i>
        {% elif secret.content_type == secret.CONTENT_CC %}
            <i class="fa fa-credit-card fa-fw"></i>
        {% endif %}
    </div>
    <div class="col-5 flex-grow-1">
        <a href="{{ secret.get_absolute_url }}">
            {{ secret.name }}
        </a>
    </div>
    <div class="col-5 text-truncate">
        {% if secret.username %}
            {{ secret.username }}
        {% endif %}
        {% if secret.filename %}
            {{ secret.filename }}
        {% endif %}
    </div>
    <div class="col-1 text-end">
        {% if secret.status == secret.STATUS_DELETED %}
            <i class="fa fa-trash text-danger"></i>
        {% elif secret.status == secret.STATUS_NEEDS_CHANGING %}
            <i class="fa fa-refresh text-danger"></i>
        {% endif %}
    </div>
</div>
