{% load i18n %}
<script>
    function getSecret(callback) {
        $.ajax({
            url: "{{ secret_url }}",
            type: "get",
            dataType: "json",
            success: function (data) {
                callback(data['password']);
            },
        });
    }

    function getSecretSync() {
        let secret;
        $.ajax({
            url: "{{ secret_url }}",
            async: false,
            type: "get",
            dataType: "json",
            success: function (data) {
                secret = data;
            },
        });
        return secret;
    }

    function reveal(password) {
        let revBtnTooltip = bootstrap.Tooltip.getInstance('#revealButton')
        revBtnTooltip.setContent({'.tooltip-inner': '{% trans "Hide plain text" %}'})

        const revBtn = document.getElementById('revealButton')
        revBtn.setAttribute('onclick', 'unreveal()')
        revBtn.querySelector('i').classList.remove('fa-magic')
        revBtn.querySelector('i').classList.add('fa-shield')

        let passwordField = document.getElementById('password-field')
        passwordField.value = password
        passwordField.disabled = false
    }

    const secret_placeholder = '{{ placeholder }}'

    function unreveal() {
        let revBtnTooltip = bootstrap.Tooltip.getInstance('#revealButton')
        revBtnTooltip.setContent({'.tooltip-inner': '{% trans "Reveal as plain text" %}'})

        const revBtn = document.getElementById('revealButton')
        revBtn.setAttribute('onclick', 'getSecret(reveal)');
        revBtn.querySelector('i').classList.remove('fa-shield')
        revBtn.querySelector('i').classList.add('fa-magic')

        let passwordField = document.getElementById('password-field')
        passwordField.value = secret_placeholder
        passwordField.disabled = true
    }
</script>
