{% load gravatar %}
{% load i18n %}

<div class="modal fade" id="share-secret-modal" tabindex="-1" aria-labelledby="share-secret-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="share-secret-modal-label">
                    <i class="fa fa-share-alt fa-fw"></i>
                    {% translate "Share secret" %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="list-group p-3 gap-1">
                        {% for user in secret.allowed_users.all|dictsort:"username" %}
                            <div class="card border-1 list-group-item">
                                <div class="card-body py-1">
                                    <div class="row">
                                        <div class="col-3 d-flex align-items-center">
                                            <img src="{% gravatar_url user.email 64 %}" alt="avatar"
                                                 class="rounded-circle align-middle me-2"
                                                 width="30px" height="30px"> {{ user.get_full_name }}
                                        </div>
                                        <div class="col-3">
                                            <div class="text-muted">{% translate "Granted on" %}:</div>
                                            {{ user.granted_on }}
                                            <div class="text-muted">{% translate "Granted by" %}:</div>
                                            {{ user.granted_by }}
                                        </div>
                                        <div class="col-5">
                                            <div class="text-muted">{% translate "Granted until" %}:</div>
                                            {{ user.granted_until }}
                                            <div class="text-muted">{% translate "Description" %}:</div>
                                            {{ user.description }}
                                        </div>
                                        <div class="col-1 d-flex align-items-center">
                                            <a class="btn btn-light bg-danger-subtle" href="#" role="button">
                                                <i class="fa fa-times fa-fw"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row justify-content-start">
                    <!-- TODO: Autocomplete? -->
                    <input class="form-control" type="text">
                </div>
                <div class="row justify-content-end">
                    <button class="btn btn-success text-end" data-bs-dismiss="modal" aria-label="Save">
                        <i class="fa fa-check fa-fw"></i>
                        {% translate "Save" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /*
        window.addEventListener('DOMContentLoaded', () => {
            new bootstrap.Modal('#share-secret-modal', {}).show()
        })
    */
</script>
