{% extends 'secrets/secret_detail.html' %}
{% load i18n %}

{% block secret_content %}
    <button id="reveal-button" class="btn btn-default btn-lg btn-block" type="button" data-bs-toggle="tooltip"
            data-bs-placement="top" title="{% trans "Reveal" %}" onclick="getCC()">
        <i class="fa fa-magic"></i> &nbsp;<span>{% trans "Reveal" %}</span>
    </button>
    <br>
    <div class="card-wrapper"></div>
    <br>
    <div id="ccform">
        <input type="hidden" autocomplete="off" name="number" id="id_number">
        <input type="hidden" autocomplete="off" name="holder" id="id_holder">
        <input type="hidden" autocomplete="off" name="expiration_month" id="id_expiration_month">
        <input type="hidden" autocomplete="off" name="expiration_year" id="id_expiration_year">
        <div class="secret-attributes table-responsive">
            <table class="table">
                <tr>
                    <td>{% trans "CVV" %}</td>
                    <td>
                        <div class="input-group col-md-6">
                            <input class="form-control" id="id_security_code" name="security_code" placeholder="•••"
                                   type="text" readonly autocomplete="off">
                            <span class="input-group-btn">
                            <button class="btn btn-default" id="copy-ccCode" data-clipboard-target="#id_security_code">
                                <i class="fa fa-clipboard"></i>
                            </button>
                        </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Password" %}</td>
                    <td>
                        <div class="input-group col-md-6">
                            <input class="form-control" id="id_password" name="password" placeholder="•••••••••"
                                   type="text"
                                   readonly autocomplete="off">
                            <span class="input-group-btn">
                            <button class="btn btn-default" id="copy-ccPassword" data-clipboard-target="#id_password">
                                <i class="fa fa-clipboard"></i>
                            </button>
                        </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block additionalJS %}
    <script>
    let reveal_toggled = false;

    let ccCodeClipboard;
    let ccPasswordClipboard

    // TODO: Fix CC cards
    function getCC() {
        /*
        if (reveal_toggled == true) {
            $('#revealButton span').text("
        {% trans "Reveal" %}");
            $('#revealButton i').removeClass('fa-shield');
            $('#revealButton i').addClass('fa-magic');
            $('.jp-card-number').html("•••• •••• •••• ••••");
            $('.jp-card-name').html("•••••• ••••••");
            $('.jp-card-expiry').html("••/••••");
            $('#id_security_code').val("");
            $('#id_password').val("");
            $('#copy-ccCode').prop("disabled", true);
            $('#copy-ccPassword').prop("disabled", true);
            reveal_toggled = false;

            ccCodeClipboard.destroy();
            ccPasswordClipboard.destroy();
        } else {
            var data = getSecretSync();
            $('#revealButton span').text("
        {% trans "Hide" %}");
            $('#revealButton i').removeClass('fa-magic');
            $('#revealButton i').addClass('fa-shield');
            $('.jp-card-number').html(data['number']);
            $('.jp-card-name').html(data['holder']);
            $('.jp-card-expiry').html(data['expiration_month'] + "/" + data['expiration_year']);
            $('#id_security_code').val(data['security_code']);
            $('#id_password').val(data['password']);
            $('#copy-ccCode').prop("disabled", false);
            $('#copy-ccPassword').prop("disabled", false);

            ccCodeClipboard = new Clipboard("#copy-ccCode");
            ccCodeClipboard.on('success', function (e) {
                $(".tickermessage-code").slideDown("fast").delay(2000).slideUp("slow");
            });

            ccPasswordClipboard = new Clipboard("#copy-ccPassword");
            ccPasswordClipboard.on('success', function (e) {
                $(".tickermessage-password").slideDown("fast").delay(2000).slideUp("slow");
            });

            reveal_toggled = true;
        }
        $('.jp-card-number').change();
        $('.jp-card-name').change();
        $('.jp-card-expiry').change();
        $('#id_security_code').change();
        $('#id_password').change();
        */
    }
    </script>
    <script>
        // TODO: This has been in a jquery $.ready() wrapper - do we still need that? And if so, put it in an event listener
        $('#copy-ccCode').prop("disabled", true);
        $('#copy-ccPassword').prop("disabled", true);

        $('#ccform').card({
            container: '.card-wrapper',
            numberInput: 'input#id_number',
            expiryInput: 'input#id_expiration_month, input#id_expiration_year',
            cvcInput: 'input#id_security_code',
            nameInput: 'input#id_holder',
            messages: {
                validDate: '{% trans "valid\nthru" %}',
                monthYear: '{% trans "MM" %}/{% trans "YYYY" %}',
            },
            values: {
                number: '•••• •••• •••• ••••',
                name: '•••••• ••••••',
                expiry: '••/••••',
                cvc: '•••'
            }
        });
    </script>
{% endblock %}