{% extends 'secrets/secret_detail.html' %}
{% load i18n %}

{% block secret_content %}
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" readonly autocomplete="off"
               placeholder="{{ secret.filename }}">
        <span class="input-group-btn">
            <a href="{% url "secrets.secret-download" secret.hashid %}" class="btn btn-default">
                <i class="fa fa-download"></i> &nbsp;{% trans "Download" %} &nbsp;
            </a>
        </span>
    </div>
{% endblock %}
