{% extends 'secrets/secret_detail.html' %}
{% load i18n %}

{% block secret_content %}
    <div class="input-group input-group-lg">
        <input type="text" id="passwordField" class="form-control" value="{{ placeholder }}"
               autocomplete="off" disabled>
        <span class="input-group-btn">
            <button class="btn btn-default" id="copy-password" type="button"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top" title="{% trans "Copy to clipboard" %}">
                <i class="fa fa-clipboard"></i>
            </button>
            <button id="revealButton" class="btn btn-default" type="button"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top" title="{% trans "Reveal as plain text" %}"
                    onclick="getSecret(reveal)">
                <i class="fa fa-magic"></i>
            </button>
            <button class="btn btn-default" type="button" data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="{% trans "Show in large type" %}" onclick="getSecret(largeType);">
                <i class="fa fa-font"></i>
            </button>
        </span>
    </div>
{% endblock %}

{% block additionalJS %}
    <script>
        function largeType(password) {
            // TODO: FIX bigtext
            $('.large-type').removeClass('invisible');
            $('.large-type').html("<div>" + password + "</div>");
            $('.large-type').bigtext();
            $('.large-type').mousedown(function () {
                $('.large-type').addClass('invisible');
                $('.large-type').html("");
            });
        }

        // TODO: FIX Clipboard
        /*
            var passwordClipboard = new Clipboard("#copy-password", {
                text: function (trigger) {
                    return getSecretSync()['password'];
                }
            });
            passwordClipboard.on('success', function (e) {
                $(".tickermessage-password").slideDown("fast").delay(2000).slideUp("slow");
            });

            var urlClipboard = new Clipboard("#copy-url");
            urlClipboard.on('success', function (e) {
                $(".tickermessage-url").slideDown("fast").delay(2000).slideUp("slow");
            });

            var usernameClipboard = new Clipboard("#copy-username");
            usernameClipboard.on('success', function (e) {
                $(".tickermessage-username").slideDown("fast").delay(2000).slideUp("slow");
            });
        */
    </script>
{% endblock %}