{% extends "base.html" %}
{% block "content" %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			SEARCH
			<div class="input-group input-group-lg">
				<input type="text" class="form-control">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
				</span>
			</div><!-- /input-group -->
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			FAVORITES
		</div>
	</div>
</div>
{% endblock %}
