{% extends "base_nav.html" %}
{% load staticfiles %}
{% block "css" %}
<link href="{% static 'css/secrets.css' %}" rel="stylesheet">
{% endblock %}
{% block "content" %}
<script>
$(document).ready(function() {
	var search_result;
	var search_result_selected;
	var cooldown = (function(){
		var timer = 0;
		return function(callback, interval) {
			clearTimeout(timer);
			timer = setTimeout(callback, interval);
		};
	})();
	$('#search').blur(function() {
		$('#search_results').html("");
		search_result = null;
		search_result_selected = null;
	});
	$('#search').keyup(function(e) {
		if (e.which === 13) { // ENTER
			window.location.href = search_result_selected.find('a').attr('href');
		}
		else if (e.which === 27) { // ESC
			$('#search_results').html("");
			search_result = null;
			search_result_selected = null;
		}
		else if (e.which === 38) {
			e.preventDefault();
		}
		else if (e.which === 40) {
			e.preventDefault();
		}
		else if ($('#search').val().length < 3) {
			$('#search_results').html("");
			search_result = null;
			search_result_selected = null;
		}
		else {
			cooldown(function() {
				$.ajax({
					url: "/passwords/live-search",
					type:"get",
					data:{ q: $('#search').val() },
					dataType: "json",
					success: function(data){
						var output = '<div><table>';
						$.each(data, function(key, val){
							output += '<tr class="search_result" onclick="document.location = \'' + val[1] + '\';">';
							output += '<td class="search_result_icons"><i class="fa fa-' + val[2] + '"></i></td>';
							output += '<td><a href="' + val[1] + '">' + val[0] + '</a></td>';
							output += '<td class="goto_icon"><i class="fa fa-arrow-right"></i></td></tr>';
						});
						output += '</table></div>';
						$('#search_results').html(output);
						search_result = $('tr.search_result');
						search_result_selected = search_result.eq(0).addClass('selected');
						$('tr.search_result').mouseover(function() {
							search_result_selected.removeClass('selected');
							search_result_selected = $(this);
							search_result_selected.addClass('selected');
						});
					},
				});
			}, 100);
		}
	});
	$('#search').keydown(function(e) {
		if (e.which === 38) {
			if (search_result_selected) {
				search_result_selected.removeClass('selected');
				next = search_result_selected.prev();
				if (next.length > 0) {
					search_result_selected = next.addClass('selected');
				}
				else {
					search_result_selected = search_result.last().addClass('selected');
				}
			}
			else {
				search_result_selected = search_result.last().addClass('selected');
			}
			e.preventDefault();
		}
		else if (e.which === 40) {
			if (search_result_selected) {
				search_result_selected.removeClass('selected');
				next = search_result_selected.next();
				if (next.length > 0) {
					search_result_selected = next.addClass('selected');
				}
				else {
					search_result_selected = search_result.eq(0).addClass('selected');
				}
			}
			else {
				search_result_selected = search_result.eq(0).addClass('selected');
			}
			e.preventDefault();
		}
	});
});
</script>
<div class="container container-opaque">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="input-group input-group-lg search-group">
				<input id="search" type="text" class="form-control">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
				</span>
			</div><!-- /input-group -->
			<div id="search_results"></div>
		</div>
	</div>
</div>
{% endblock %}
