body {
	font-family: Lato;
/*	font-weight: 300;


*/


}
.background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
background: #e6edf2;
background: -moz-linear-gradient(top,  #e6edf2 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6edf2), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #e6edf2 0%,#ffffff 100%);
background: -o-linear-gradient(top,  #e6edf2 0%,#ffffff 100%);
background: -ms-linear-gradient(top,  #e6edf2 0%,#ffffff 100%);
background: linear-gradient(to bottom,  #e6edf2 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6edf2', endColorstr='#ffffff',GradientType=0 );


}
.container-opaque {
	background-color: white;
}
img.avatar {
	border: 0px solid black;
	border-radius: 16px;
	height: 32px;
	width: 32px;
	margin-top: -10px;
	margin-bottom: -8px;
}
.dropdown-menu i {
	color: #92A6B2;
}
.search-group {
	margin-top: 60px;
}


.navbar-default {
	background-color: #282828;
	border-color: #282828;
	border-radius: 0;
}
.navbar-default .navbar-brand {
	color: #708999;
	font-weight: 300;
}
.navbar-default .navbar-brand:hover {
	color: #708999;
}
.navbar-default .navbar-nav > .active > a {
	background-color: #323232;
	color: #e0e0e0;
}
.navbar-default .navbar-nav > .active > a:hover {
	color: white;
}
.navbar-default .navbar-nav > li > a {
	color: #c0c0c0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #303030 !important;
	color: white;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #303030 !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #c0c0c0;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #7F9BAD;
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #7F9BAD;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #7F9BAD;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #7F9BAD;
}
