{% extends "secrets/secret_addedit.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block content_type_fields %}
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const card = new Card({
                form: '#ccform',
                container: '.card-wrapper',
                formSelectors: {
                    numberInput: 'input#id_number',
                    expiryInput: 'input#id_expiration_month, input#id_expiration_year',
                    cvcInput: 'input#id_security_code',
                    nameInput: 'input#id_holder',
                },
                width: "100%",
                messages: {
                    validDate: '{% trans "valid\nthru" %}',
                    monthYear: '{% trans "MM" %}/{% trans "YYYY" %}',
                },
                // width: 200,
                placeholders: {
                    number: '•••• •••• •••• ••••',
                    name: '{% trans "Full name" %}',
                    expiry: '••/••••',
                    cvc: '•••'
                },
            })
        })
    </script>
    <div class="row mb-5">
        <div class="col-12">
            <i class="fa fa-lock fa-fw"></i> {% trans "All fields in this section will be stored securely." %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xxl-7" id="ccform">

            {% bootstrap_field form.number placeholder='Credit card number' layout='horizontal' horizontal_label_class="col-xxl-3" horizontal_field_class="col-xxl-7" %}
            {% bootstrap_field form.holder placeholder='Card holder' layout='horizontal' horizontal_label_class="col-xxl-3" horizontal_field_class="col-xxl-7" %}

            <div class="row mb-3 required">
                <label class="col-xxl-3 col-form-label" for="id_expiration_month">{% trans "Expiration date" %}</label>
                <div class="col-xxl-7">
                    <div class="input-group">
                        <input type="text" class="form-control text-center" name="expiration_month"
                               id="id_expiration_month" required="required" maxlength="2" size="2"
                               placeholder="{% trans "MM" %}"
                               value="{{ form.expiration_month.value|default_if_none:"" }}">
                        <div class="vr mx-3"></div>
                        <input type="text" class="form-control text-center" name="expiration_year"
                               id="id_expiration_year" required="required" maxlength="4" size="4"
                               placeholder="{% trans "YYYY" %}"
                               value="{{ form.expiration_year.value|default_if_none:"" }}">
                    </div>
                </div>
            </div>
            {% bootstrap_field form.security_code placeholder='Security Code' layout='horizontal' horizontal_label_class="col-xxl-3" horizontal_field_class="col-xxl-7" %}
            <div class="secret-details">
                {% bootstrap_field form.password placeholder="(optional, for 3D-Secure/SecureCode)" layout="horizontal" horizontal_label_class="col-xxl-3" horizontal_field_class="col-xxl-7" %}
            </div>
        </div>
        <div class="col-12 col-xxl-4 g-0">
            <div class="row justify-content-center">
                <div class="card-wrapper"></div>
            </div>
        </div>
    </div>
{% endblock %}
