{% extends "secrets/secret_addedit.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block form_attributes %}enctype="multipart/form-data"{% endblock %}
{% block content_type_fields %}
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const fileInput = document.querySelector('.btn-file input[type="file"]')
            const fileNameInput = document.querySelector('#file-text')
            fileInput.addEventListener('change', (e) => {
                fileNameInput.value = fileInput.files[0].name
            })
            window.addEventListener('load', (e) => {
                /* Set file name even after going back in browser history */
                if (fileInput.files.length === 1) {
                    fileNameInput.value = fileInput.files[0].name
                }
            })
        })
    </script>
    <div class="row mb-3 required">
        <label class="col-xl-2 col-form-label form-label" for="{{ form.file.id_for_label }}">
            {{ form.file.label }}
        </label>
        <div class="col-xl-8">
            <div class="input-group {% if form.file.errors %}is-invalid{% endif %}">
                <input type="text" class="form-control {% if form.file.errors %}is-invalid{% endif %}" readonly autocomplete="off" id="file-text"
                       placeholder="{% if secret %}{% trans "(unchanged)" %}{% else %}{% trans "No file selected" %}{% endif %}">
                <div class="btn-group">
                    <label class="btn btn-light btn-file" for="id_file">
                        {% trans "Browse..." %}
                        <input id="id_file" name="file" type="file" class="d-none"
                               {% if not secret %}required="required"{% endif %}>
                    </label>
                </div>
            </div>
            {% for error in form.file.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            <div class="form-text">{{ form.file.help_text }}</div>
        </div>
    </div>
{% endblock %}
