{% load django_bootstrap5 %}
{% load i18n %}
{% load smart_pagination %}

<div class="row mb-3 justify-content-between">
    <div class="col-12 col-md-8">
        <button type="button" class="btn btn-outline-accent btn-sm rounded mb-3" data-bs-toggle="modal"
                data-bs-target="#filter-modal">
            <i class="fa fa-sliders fa-fw"></i> {% translate "Filters" %}
        </button>
        <div class="d-flex column-gap-4 row-gap-4 align-items-center flex-row flex-wrap">
            {% for field, field_data in filter.data.items %}
                <div class="d-flex column-gap-2 row-gap-2 align-items-center flex-row flex-wrap fs-xs">
                    <div class="text-secondary opacity-75 d-inline-block me-1">{{ filter_data.label|capfirst }}:</div>

                    {% for field_item in filter_data.filter_items %}
                        <div class="bg-secondary-subtle rounded-1 d-flex ps-2 align-items-center flex-row"
                             style="height: 20px; min-width: 0;">
                            <div class="d-inline-block">
                                <span>{{ filter_item_name }}</span>
                            </div>

                            <a class="bg-transparent mx-1 pe-1" type="button" href="{% querystring_remove_item request filter_name filter_item_name %}">
                                <i class="fa fa-times text-black align-middle"></i>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal fade" id="filter-modal" tabindex="-1" aria-labelledby="filter-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl modal-fullscreen-md-down">
        <div class="modal-content">
            <div class="modal-body mx-5 mt-4 mb-3">
                <form role="form" method="GET">
                    <div class="row mb-3">
                        <div class="col-12 d-grid gap-3">
                            <h3 class="mb-3">{% translate "Filter" %}</h3>
                            <div class="row">
                                <div class="col-12 col-md-10 col-lg-8 d-grid gap-3">
                                    {% bootstrap_form filter.form %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-accent px-3 mt-3">
                        {% translate "Apply" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
