.secret-list-icons {
    border-right: 0 solid #dddddd;
}

#password-field {
    font-family: "Ubuntu Mono", monospace;
    text-align: center;
}

.large-type {
    background-color: black;
    color: white;
    display: table;
    font-family: "Ubuntu Mono", monospace;
    height: 100%;
    left: 0;
    opacity: 0.9;
    padding: 1%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9001;
}

.large-type > div {
    display: table-cell;
    vertical-align: middle;
}

.secret-icons {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    padding: 6px 15px;
}


.search-group {
    background-color: #444C59;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
}

.search_result a {
    color: black;
}

.search_result a:hover {
    text-decoration: none;
}

.search_result {
    cursor: pointer;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.search_result .goto_icon {
    color: #92A6B2;
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    text-align: right;
}

.search_result .goto_icon i {
    visibility: hidden;
}

.tt-cursor .search_result .goto_icon i {
    visibility: visible !important;
}

.search_result_icons {
    color: #e0e0e0;
    float: left;
    padding-right: 7px;
    text-align: right;
    width: 50px;
}

.search_result_name {
    float: left;
}

.secret-list-detail {
    color: #606060;
}

.tickermessage {
    border-radius: 10px 10px 10px 10px;
    display: none;
    margin-bottom: -30px;
    margin-top: -20px;
    text-align: center;
    padding: 5px;
}

.tickermessage.info {
    background-color: #D9EDF7;
    border: 1px solid #BCE8F1;
    border-top: 0;
    color: #31708F;
}

.secret-main, .secret-meta {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    margin-top: 40px;
    padding: 20px;
}

.secret-icons {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
}

.secret-attributes table {
    width: 100%;
}

.secret-attributes td {
    font-size: 16px;
    padding-bottom: 10px;
}

.secret-attributes td a {
    color: #325063;
}

.secret-attributes td:first-child {
    color: #708999;
    padding-right: 3%;
    text-align: right;
    vertical-align: top;
    width: 35%;
}

.secret-attributes tr:last-child td {
    padding-bottom: 0;
}

.secret-meta table {
    width: 100%;
}

.secret-meta td {
    color: #606060;
    padding-bottom: 10px;
}

.secret-meta td:first-child {
    color: #708999;
    text-align: left;
    padding-left: 3%;
    max-width: 30%;
}

.secret-meta tr:last-child td {
    padding-bottom: 0;
}

.secret-meta .separator {
    border-top: 1px solid #e6edf2;
}

.almost-hidden {
    position: fixed;
    width: 0;
    height: 0;
    opacity: 0;
}

.text-success-bright {
    color: #44aa44;
}

.text-warning-bright {
    color: #ffa800;
}

.text-danger-bright {
    color: #bb0000;
}

.text-muted-bright {
    color: #cccccc;
}
