.avatar {
  --tv-avatar-size-default: 2rem;
  --tv-avatar-size-sm: 1.25rem;
  --tv-avatar-size-lg: 2.5rem;
  --tv-avatar-size: var(--tv-avatar-size-default);

  height: var(--tv-avatar-size);
  width: var(--tv-avatar-size);
  border-radius: 50%;

  &.avatar-sm {
    --tv-avatar-size: var(--tv-avatar-size-sm);
  }

  &.avatar-lg {
    --tv-avatar-size: var(--tv-avatar-size-lg);
  }
}

svg.avatar {
  background-color: var(--bs-gray-500);
  font-size: calc(var(--tv-avatar-size) * 0.4);
}
