@import '@fortawesome/fontawesome-free/scss/functions';
@import '@fortawesome/fontawesome-free/scss/mixins';
@import '@fortawesome/fontawesome-free/scss/variables';

$circle_size: 314;
$max_progress: 30s;

.pw-uppercase {
  color: #999999
}
.pw-lowercase {
  color: var(--bs-body-color);
}
.pw-number {
  color: #ff3333;
}
.pw-symbol {
  color: #5982ff;
}

#password-field {
  font-family: "Ubuntu Mono", monospace;
  text-align: center;
  display: block;
}

.large-type {
  --bs-body-color: var(--bs-white);
  background-color: black;
  display: table;
  font-family: "Ubuntu Mono", monospace;
  height: 100%;
  left: 0;
  opacity: 0.9;
  padding: 1%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9001;

  > div {
    display: table-cell;
    vertical-align: middle;
  }

  > .lt-otp-countdown {
    > #countdown {
      background-color: black;
      display: flex;
      align-items: center;
      height: 200px;
      width: 200px;
      margin: auto;
      > svg {
        height: 200px;
        width: 200px;

        > circle {
          stroke-width: 3;
        }
      }

      > #countdown-number {
        color: white;
        font-size: 50px;
        margin: auto;
      }
    }
  }

  > .lt-otp {
    background-color: transparent;

    > .separator {
      background-color: var(--bs-accent);
      height: 0.25em;
      width: 0.25em;
    }
  }
}

.secret-attributes {
  td {
    /* font-size: 16px; */
    padding: 0.25rem;

    a {
      color: var(--bs-info);
    }

    &:first-child {
      color: #708999;
      padding-right: 3%;
      text-align: right;
      width: 35%;
    }
  }

  tr {
    &:last-child td {
      vertical-align: baseline;
    }

    td:last-child button {
      margin-left: 0.5rem;
    }
  }
}

.secret-meta {
  td {
    color: var(--bs-body);

    &:first-child {
      color: #708999;
      padding-left: 3%;
    }
  }

  > .table > :not(caption) > * > * {
    /* Overwrite bootstrap defaults */
    padding: 0.3rem 0.3rem;
  }
}

.text-success-bright {
  color: #44aa44;
}

.text-warning-bright {
  color: #ffa800;
}

.text-danger-bright {
  color: #bb0000;
}

.text-muted-bright {
  color: #cccccc;
}

.secret-detail-toggle {
  float: right;
  color: var(--bs-black);

  &[aria-expanded="true"] {
    i {
      @include fa-icon-solid($fa-var-minus-square)
    }
  }

  &[aria-expanded="false"] {
    i {
      @include fa-icon-solid($fa-var-plus-square)
    }
  }
}

.secret-extra-icon {
  background-color: var(--bs-border-color);
  border-radius: 50%;
  border: 5px solid var(--bs-border-color);
  margin-left: 0.35rem;
}

.col-form-label, .form-label {
  font-weight: 500;
}

// custom hover for "generate random secret button"
[data-bs-theme="light"] #id_pwgen:hover {
  background: #ddd;
}
