@import 'select2/src/scss/core.scss';
@import "select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.css";

/* Hide selected options in choices */
.select2-results__option[aria-selected=true] {
  display: none;
}

.select2-container--bootstrap-5.select2-container--open .select2-selection {
  box-shadow: none;
}

.select2-selection.select2-selection--multiple {
  background-color: var(--bs-gray-100);
  padding: 1rem;

  .select2-selection__rendered {
    display: flex;
  }
}
