.nav-tabs {
  border-bottom-color: var(--bs-border-color);
  gap: 1.6rem;
}

.nav-tabs .nav-link {
  color: var(--bs-secondary-color);
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.nav-tabs .nav-link.active {
  color: var(--bs-body-color);
  background: none;
  border-bottom-color: var(--bs-accent);
}
