{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% trans "Sheldon" %} &middot; {% block "title" %}{% endblock %}</title>

	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:100,300" media="screen">

	<link href="{% static 'css/public.css' %}" rel="stylesheet">
</head>
<body>
	<div class="container">
{% block "container" %}
{% endblock %}
	</div>
</body>
</html>
