{% extends "base_nav.html" %}
{% load humanize %}
{% load i18n %}
{% load staticfiles %}
{% block "title" %}{% blocktrans %}Add {{ pretty_content_type }}{% endblocktrans %}{% endblock %}
{% block "css" %}
<link href="{% static 'css/secrets.css' %}" rel="stylesheet">
{% endblock %}
{% block "js" %}
<script src="{% static 'bundled/jquery.hotkeys.js' %}"></script>
{% endblock %}
{% block "content" %}
<div class="container container-opaque">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>{% blocktrans %}Add {{ pretty_content_type }}{% endblocktrans %}</h1>
		</div>
	</div>
</div>
{% endblock %}
