{% extends "base_nav.html" %}
{% load humanize %}
{% load i18n %}
{% load staticfiles %}
{% block "title" %}{% blocktrans %}Add {{ pretty_content_type }}{% endblocktrans %}{% endblock %}
{% block "css" %}
<link href="{% static 'css/secrets.css' %}" rel="stylesheet">
{% endblock %}
{% block "js" %}
<script src="{% static 'bundled/jquery.hotkeys.js' %}"></script>
{% endblock %}
{% block "content" %}

<div class="container container-opaque">
	<div class="row">
		<div class="col-md-12">
			<h1>{% blocktrans %}Add {{ pretty_content_type }}{% endblocktrans %}</h1>
			<hr>
		</div>
	</div>
	<form role="form" method="POST" class="form-horizontal">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Searchable fields
							<a style="float: right;" href="#" id="searchable_toggle"><i class="fa fa-plus-square-o"></i></a>
						</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<div class="col-sm-2">
								<label class="control-label" for="id_name">{% trans "Name" %}</label>
							</div>
							<div class="col-sm-6">
								<input class="form-control" id="id_name" maxlength="92" name="name" placeholder="{% trans "My new secret..." %}" required="required" title="" type="text">
							</div>
							<div class="col-sm-4">
								<p class="form-control-static">{% trans "Enter a unique name for the new secret." %}</p>
							</div>
						</div>
						<div class="form-group searchable-details">
							<div class="col-sm-2">
								<label class="control-label" for="id_description">Description</label>
							</div>
							<div class="col-sm-6">
								<textarea class="form-control" cols="40" id="id_description" name="description" placeholder="{% trans "(optional)" %}" rows="4" title=""></textarea>
							</div>
							<div class="col-sm-4">
								<p class="form-control-static">{% trans "Further information on the secret." %}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Secret information
							<a style="float: right;" href="#" id="secret_toggle"><i class="fa fa-plus-square-o"></i></a>
						</h3>
					</div>
					<div class="panel-body">
						{% block "content_type_fields" %}{% endblock %}
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							{% trans "Access control" %}
							<a style="float: right;" href="#" id="access_toggle"><i class="fa fa-plus-square-o"></i></a>
						</h3>
					</div>
					<div class="panel-body">

						<div class="form-group access-details">
							<div class="col-sm-2">
								<label class="control-label" for="id_access_policy_0">Access policy</label>
							</div>
							<div class="col-sm-6">
								<div id="id_access_policy">
									<div class="radio">
										<label for="id_access_policy_0"><input checked="checked" class="" id="id_access_policy_0" name="access_policy" required="required" title="" value="1" type="radio"> default
										</label>
									</div>
									<div class="radio">
										<label for="id_access_policy_1">
											<input class="" id="id_access_policy_1" name="access_policy" required="required" title="" value="2" type="radio"> everyone
										</label>
									</div>
									<div class="radio">
										<label for="id_access_policy_2">
											<input class="" id="id_access_policy_2" name="access_policy" required="required" title="" value="3" type="radio"> hidden
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<p class="form-control-static">{% trans "By <em>default</em>, the secret will show up in search results for all users, but they will have to request access if they're not included in the list of groups and users below.<br><br><em>Everyone</em> will let all users access the secret without the need to grant access below.<br><br><em>Hidden</em> will reveal the existence of the secret and its contents only to users who have been granted access." %}</p>
							</div>
						</div>

						<div class="form-group access-details">
							<div class="col-sm-2">
								<label class="control-label" for="id_description">{% trans "Mutability" %}</label>
							</div>
							<div class="col-sm-6">
								<div class="checkbox">
									<label for="id_needs_changing_on_leave">
										<input checked="checked" class="" id="id_needs_changing_on_leave" name="needs_changing_on_leave" type="checkbox"> Needs changing on leave
									</label>
								</div>
							</div>
							<div class="col-sm-4">
								<p class="form-control-static">{% trans "This secret will be marked as 'needs changing' when a user who accessed it is deactivated." %}</p>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6">
								<label class="control-label" for="id_allowed_groups">Allowed groups</label>
								<select multiple="multiple" class="form-control" id="id_allowed_groups" name="allowed_groups">
								</select>
								<span class="help-block"> Hold down "Control", or "Command" on a Mac, to select more than one.</span>
							</div>
							<div class="col-md-6">
								<label class="control-label" for="id_allowed_users">Allowed users</label>
								<select multiple="multiple" class="form-control" id="id_allowed_users" name="allowed_users">
									<option value="1">trehn</option>
								</select>
								<span class="help-block">
									Hold down "Control", or "Command" on a Mac, to select more than one.
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button type="submit" class="btn btn-primary btn-lg pull-right">
					{% trans "Save" %}
				</button>
			</div>
		</div>
	</form>
</div>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
$(".searchable-details").hide();
$("#searchable_toggle").click(function() {
	$(".searchable-details").slideToggle(function () {
		$(this).is(':visible')? $("#searchable_toggle").html('<i class="fa fa-minus-square-o"></i>') : $("#searchable_toggle").html('<i class="fa fa-plus-square-o"></i>');
	});
});

$(".secret-details").hide();
$("#secret_toggle").click(function() {
	$(".secret-details").slideToggle(function () {
		$(this).is(':visible')? $("#secret_toggle").html('<i class="fa fa-minus-square-o"></i>') : $("#secret_toggle").html('<i class="fa fa-plus-square-o"></i>');
	});
});

$(".access-details").hide();
$("#access_toggle").click(function() {
	$(".access-details").slideToggle(function () {
		$(this).is(':visible')? $("#access_toggle").html('<i class="fa fa-minus-square-o"></i>') : $("#access_toggle").html('<i class="fa fa-plus-square-o"></i>');
	});
});
</script>
{% endblock %}
