{% extends "secrets/addedit.html" %}
{% load i18n %}
{% block "content_type_fields" %}
<div class="form-group">
	<div class="col-sm-2">
		<label class="control-label" for="id_password">{% trans "Password" %}</label>
	</div>
	<div class="col-sm-6">
		<input class="form-control" id="id_password" name="password" placeholder="{% if secret %}{% trans "(unchanged)" %}{% else %}**************{% endif %}" {% if not secret %}required="required"{% endif %} type="password" value="{% if form.is_bound and not secret %}{{ form.password.value }}{% endif %}">
	</div>
	<div class="col-sm-4">
		<p class="form-control-static"><i class="fa fa-lock"></i> &nbsp; {% trans "This field will be stored securely." %}</p>
	</div>
</div>
<div class="form-group secret-details">
	<div class="col-sm-2">
		<label class="control-label" for="id_username">{% trans "Username" %}</label>
	</div>
	<div class="col-sm-6">
		<input class="form-control" id="id_username" name="username" placeholder="{% trans "(optional)" %}" value="{{ form.username.value|default_if_none:"" }}" type="text">
	</div>
	<div class="col-sm-4">
		<p class="form-control-static"></p>
	</div>
</div>
<div class="form-group secret-details">
	<div class="col-sm-2">
		<label class="control-label" for="id_url">{% trans "URL" %}</label>
	</div>
	<div class="col-sm-6">
		<input class="form-control" id="id_url" name="url" placeholder="{% trans "(optional)" %}" value="{{ form.url.value|default_if_none:"" }}" type="url">
	</div>
	<div class="col-sm-4">
		<p class="form-control-static"></p>
	</div>
</div>
{% endblock %}
