{% extends "base_nav.html" %}
{% load humanize %}
{% load i18n %}
{% load staticfiles %}
{% block "title" %}{{ secret.name }}{% endblock %}
{% block "css" %}
<link href="{% static 'css/secrets.css' %}" rel="stylesheet">
{% endblock %}
{% block "js" %}
<script src="{% static 'bundled/underscore-1.6.0.min.js' %}"></script>
<script src="{% static 'bundled/bigtext-0.1.5.js' %}"></script>
<script src="{% static 'bundled/zeroclipboard-2.1.5/ZeroClipboard.min.js' %}"></script>
<script src="{% static 'bundled/jquery.hotkeys.js' %}"></script>
{% endblock %}
{% block "content" %}
<script type="text/javascript">
ZeroClipboard.config({ swfPath: "{% static 'bundled/zeroclipboard-2.1.5/ZeroClipboard.swf' %}" });

var reveal_placeholder = "{{ placeholder }}";
var reveal_toggled = false;
$(function () {
	$("[data-toggle='tooltip']").tooltip({container: 'body'});
	$(document).bind('keydown', 'ctrl+c', hotkeyCopyPassword);
	$(document).bind('keydown', 'meta+c', hotkeyCopyPassword);

});
function getPassword(callback) {
	$.ajax({
		url: "{{ secret_url }}",
		type:"get",
		dataType: "json",
		success: function(data){
			callback(data['password']);
		},
	});
}
function getPasswordSync() {
	var password;
	$.ajax({
		url: "{{ secret_url }}",
		async: false,
		type:"get",
		dataType: "json",
		success: function(data) {
			password = data['password'];
		},
	});
	return password;
}
function getPasswordForClipboard(event) {
	var clipboard = event.clipboardData;
	clipboard.setData("text/plain", getPasswordSync());
}
function getSelectionText() {
	var text = "";
	if (window.getSelection) {
		text = window.getSelection().toString();
	}
	else if (document.selection && document.selection.type != "Control") {
		text = document.selection.createRange().text;
	}
	return text;
}
function hotkeyCopyPassword() {
	if (getSelectionText()) {
		return true;
	}
	$('#hidden-copy-input').val(getPasswordSync());
	$('#hidden-copy-input').select();
	return true;
}
function largeType(password) {
	$('.large-type').removeClass('hidden');
	$('.large-type').html("<div>" + password + "</div>");
	$('.large-type').bigtext();
	$('.large-type').mousedown(function () {
		$('.large-type').addClass('hidden');
		$('.large-type').html("");
	});
}
function reveal(password) {
	if (reveal_toggled == true) {
		$('#reveal-button').attr('title', "{% trans "Reveal as plain text" %}").tooltip('fixTitle').tooltip('show');
		$('#reveal-button i').removeClass('fa-shield');
		$('#reveal-button i').addClass('fa-magic');
		$('.password-field').val(reveal_placeholder);
		$('.password-field').attr('disabled', true);
		reveal_toggled = false;
	}
	else {
		$('#reveal-button').attr('title', "{% trans "Hide plain text" %}").tooltip('fixTitle').tooltip('show');
		$('#reveal-button i').removeClass('fa-magic');
		$('#reveal-button i').addClass('fa-shield');
		$('.password-field').val(password);
		$('.password-field').attr('disabled', false);
		reveal_toggled = true;
	}
}
</script>
<div class="large-type hidden"></div>
<div class="container">
	<div class="row">
		<div class="col-md-10 password-title">
			<h1>{{ secret.name }}</h1>
		</div>
		<div class="col-md-1 col-md-offset-1 password-icons">
			<h1>
				{% if readable %}
				<i class="fa fa-unlock"></i>
				{% else %}
				<i class="fa fa-lock"></i>
				{% endif %}
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 password-main">
			<div class="input-group input-group-lg">
				<input type="text" class="form-control password-field" value="{{ placeholder }}" autocomplete="off" disabled>
				<span class="input-group-btn">
					<button class="btn btn-default" id="copy-password" type="button" data-toggle="tooltip" data-placement="top" title="Copy to clipboard">
						<i class="fa fa-clipboard"></i>
					</button>
					<button id="reveal-button" class="btn btn-default" type="button" data-toggle="tooltip" data-placement="top" title="{% trans "Reveal as plain text" %}" onclick="getPassword(reveal)">
						<i class="fa fa-magic"></i>
					</button>
					<button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="top" title="{% trans "Show in large type" %}" onclick="getPassword(largeType);">
						<i class="fa fa-font"></i>
					</button>
				</span>
			</div>
			<input type="text" class="almost-hidden" id="hidden-copy-input">
			<hr>
			<div class="password-attributes">
				<table class="table-responsive">
					{% if secret.url %}
					<tr>
						<td>{% trans "URL" %}</td>
						<td>
							<a href="{{ secret.url }}">{{ secret.url }}</a>
							&nbsp; <button class="btn btn-default btn-xs" id="copy-url"><i class="fa fa-clipboard"></i>
						</td>
					</tr>
					{% endif %}
					{% if secret.username %}
					<tr>
						<td>{% trans "Username" %}</td>
						<td>
							{{ secret.username }}
							&nbsp; <button class="btn btn-default btn-xs" id="copy-username"><i class="fa fa-clipboard"></i>
						</td>
					</tr>
					{% endif %}
					{% if secret.description %}
					<tr>
						<td>{% trans "Description" %}</td>
						<td>{{ secret.description }}</td>
					</tr>
					{% endif %}
				</table>
			</div>
			<hr>
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-lg"><i class="fa fa-pencil"></i>&nbsp; {% trans "Edit" %}</button>
				</div>
				<div class="btn-group">
					<a class="btn btn-default btn-lg" href="{% url "secrets.secret-delete" secret.id %}"><i class="fa fa-times"></i>&nbsp; {% trans "Delete" %}</a>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-lg"><i class="fa fa-share"></i>&nbsp; {% trans "Share" %}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-1 password-meta">
			<table>
				<tr>
					<td>{% trans "Changed" %}</td>
					<td><span data-toggle="tooltip" data-placement="top" title="{{ secret.current_revision.created|date:"Y-m-d H:i:s" }}">{{ secret.current_revision.created|naturalday:"Y-m-d" }}</span></td>
				</tr>
				<tr>
					<td>{% trans "Changed by" %}</td>
					<td>{{ secret.current_revision.set_by.username }}</td>
				</tr>
				<tr>
					<td class="separator"></td>
					<td class="separator"></td>
				</tr>
				<tr>
					<td>{% trans "Created" %}</td>
					<td><span data-toggle="tooltip" data-placement="top" title="{{ secret.created|date:"Y-m-d H:i:s" }}">{{ secret.created|naturalday:"Y-m-d" }}</span></td>
				</tr>
				<tr>
					<td>{% trans "Created by" %}</td>
					<td>{{ secret.created_by.username }}</td>
				</tr>
				<tr>
					<td class="separator"></td>
					<td class="separator"></td>
				</tr>
				<tr>
					<td>{% trans "Allowed groups" %}</td>
					<td>
						<span data-toggle="tooltip" data-placement="left" title="{% for group in secret.allowed_groups.all %}{{ group.name }}
						{% endfor %}">
						{% blocktrans with groupcount=secret.allowed_groups.all|length %}
						{{ groupcount }} group(s) allowed
						{% endblocktrans %}
					</span>
				</td>
			</tr>
			<tr>
				<td>{% trans "Allowed users" %}</td>
				<td>
					<span data-toggle="tooltip" data-placement="left" title="{% for user in secret.allowed_users.all %}{{ user.username }}
					{% endfor %}">
					{% blocktrans with usercount=secret.allowed_users.all|length %}
					{{ usercount }} user(s) allowed
					{% endblocktrans %}
				</span>
			</td>
		</tr>
	</table>
</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 hints">
		<div class="alert alert-info">
			<i class="fa fa-info-circle"></i>&nbsp; {% trans "Hit ⌃C (or ⌘C on a Mac) to copy the password." %}
		</div>
	</div>
</div>
</div>
<script type="text/javascript">
var passwordClipboard = new ZeroClipboard($("#copy-password"));
passwordClipboard.on("copy", function (event) {
	getPasswordForClipboard(event);
});
var urlClipboard = new ZeroClipboard($("#copy-url"));
urlClipboard.on("copy", function (event) {
	var clipboard = event.clipboardData;
	clipboard.setData("text/plain", "{{ secret.url }}");
});
var usernameClipboard = new ZeroClipboard($("#copy-username"));
usernameClipboard.on("copy", function (event) {
	var clipboard = event.clipboardData;
	clipboard.setData("text/plain", "{{ secret.username }}");});
</script>
{% endblock %}
