{% extends "base_nav.html" %}
{% load humanize %}
{% load i18n %}
{% load staticfiles %}
{% block "title" %}{% trans "Browse" %}{% endblock %}
{% block "css" %}
<link href="{% static 'css/secrets.css' %}" rel="stylesheet">
{% endblock %}
{% block "nav_browse" %}active{% endblock %}
{% block "content" %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>
				{% if search_term %}
				{% blocktrans %}Search results for '{{ search_term }}'...{% endblocktrans %}
				{% else %}
				{% trans "Browse all items" %}
				{% endif %}

			</h1>
			{{ passwords|length }} item(s) found
			<br><br>
			<table class="table">
				<tr>
					<th></th>
					<th>{% trans "Username" %}</th>
				</tr>
				{% for password in passwords %}
				<tr>
					<td>
						{% if password in readable_passwords %}
						<i class="fa fa-unlock"></i>
						{% else %}
						<i class="fa fa-lock"></i>
						{% endif %}
						&nbsp;
						<a href="{{ password.get_absolute_url }}">
							{{ password.name }}
						</a>
					</td>
					<td>{{ password.username }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}
