{% extends "base.html" %}
{% load i18n %}
{% load smart_pagination %}

{% block content %}
    {% partialdef group-secrets inline %}
        <table class="table table-hover fixed-table secrets-table"
               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
            <thead>
            <tr>
                <th>{% trans 'Secret' %}</th>
                <th>{% trans 'Expiry' %}</th>
                <th>{% trans 'Shared by' %}</th>
                <th>{% trans 'Actions' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for share in group_secrets %}
                <tr>
                    <td>
                        <a class="d-flex align-items-center gap-2 px-0"
                           href="{% url 'secrets.secret-detail' hashid=share.secret.hashid %}">
                            {{ share.secret.name }}
                        </a>
                    </td>
                    <td>
                        <span class="text-muted">{{ share.granted_until }}</span>
                    </td>
                    <td>
                        <span class="text-muted">{{ share.granted_by }}</span>
                    </td>
                    <td>
                        <i title="{% trans 'Revoke access' %}" class="fa fa-times-circle text-danger"
                           data-bs-toggle="dropdown" data-bs-auto-close="outside"
                           aria-expanded="false"
                           style="cursor: pointer" tabindex="0" role="button"></i>
                        <div class="dropdown-menu px-4 text-center bg-danger-subtle">
                            <div class="mb-2">
                                {% trans "Revoke group access from this secret?" %}
                            </div>
                            <button class="btn btn-danger btn-sm" type="button"
                                    hx-delete="{% url 'secrets.secret-share-delete' hashid=share.secret.hashid share_id=share.id %}"
                                    hx-target="closest tr"
                                    hx-swap="outerHTML">
                                {% trans "Yes, revoke access" %}
                            </button>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">
                        <div class="px-0">
                            {% trans "No secrets" %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div hx-target="#group-secrets-wrapper" hx-push-url="false">
            {% url 'accounts.group-secrets' group.name as secrets_url %}
            {% include "pagination.html" with url=secrets_url target="#group-secrets-wrapper" %}
        </div>
    {% endpartialdef %}
{% endblock %}
