{% extends "base.html" %}
{% load i18n %}
{% load smart_pagination %}

{% block content %}
{% partialdef group-members inline %}
    <div class="list-group list-group-flush">
        {% for user in group_members %}
            <a class="list-group-item list-group-item-action d-flex align-items-center gap-2 px-0"
               href="{% url 'accounts.user-detail' username=user.username %}">
                {% include "accounts/_avatar.html" with user=user %}
                {{ user.username }}
            </a>
        {% empty %}
            <div class="list-group-item px-0 py-0">
                {% trans "No members" %}
            </div>
        {% endfor %}
    </div>
    <div hx-target="#group-members-wrapper" hx-push-url="false">
        {% url 'accounts.group-members' group.name as members_url %}
        {% include "pagination.html" with url=members_url target="#group-members-wrapper" %}
    </div>
{% endpartialdef %}
{% endblock %}
