{% extends "base.html" %}
{% load i18n %}
{% load smart_pagination %}

{% block content %}
{% partialdef group-members inline %}
    <div class="list-group d-flex flex-column gap-2">
        {% for user in group_members %}
            <a class="list-group-item-action d-flex align-items-center gap-2"
               href="{% url 'accounts.user-detail' username=user.username %}">
                {% include "accounts/_avatar.html" with user=user %}
                {{ user.username }}
            </a>
            <hr class="text-body-tertiary my-0">
        {% empty %}
            {% trans "No members" %}
        {% endfor %}
    </div>
    <div hx-target="#group-members-wrapper" hx-push-url="false">
        {% url 'accounts.group-members' group.name as members_url %}
        {% include "pagination.html" with url=members_url target="#group-members-wrapper" %}
    </div>
{% endpartialdef %}
{% endblock %}
