{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block "title" %}{% trans "Login" %}{% endblock %}
{% block "body" %}
<style>
body > .grid {
	height: 100%;
}
.column {
	max-width: 450px;
}
</style>
<div class="ui middle aligned center aligned grid">
	<div class="column">
		<h2 class="ui black header">
			<div class="content">TeamVault</div>
		</h2>
		{% if form.errors %}
		<div class="ui visible error message">{% trans "Your username and password didn't match.<br>Please try again." %}</div>
		{% endif %}
		<form class="ui large form" method="post">
			<div class="ui segment">
				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input type="text" name="username" id="username" placeholder="{% trans "Username" %}" required autofocus>
					</div>
				</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" name="password" id="password" placeholder="{% trans "Password" %}" required>
					</div>
				</div>
				<button class="ui fluid large black submit button">{% trans "Login" %}</button>
			</div>
			{% csrf_token %}
		</form>
	</div>
</div>
{% endblock %}
