{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block navbar %}{% endblock %}
{% block head %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
    <div class="login-wrapper">
        <form id="loginform" class="login" role="form" method="POST">
            {% csrf_token %}
            <div class="login-icon">{% trans "TeamVault" %}</div>
            {% if form.errors %}
                <p class="alert alert-danger">{% trans "Your username and password didn't match. Please try again." %}</p>
            {% endif %}
            <div class="mb-3">
                <input type="text" name="username" class="form-control" placeholder="{% trans "Username" %}"
                       autocomplete="username" required autofocus>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <input type="password" name="password" class="form-control" placeholder="{% trans "Password" %}"
                           autocomplete="current-password" required>
                    <button form="loginform" class="btn btn-outline-secondary" type="submit"><i
                            class="bi bi-chevron-right"></i></button>
                </div>
            </div>
            {% if google_auth_enabled %}
                <p class="text-center">{% trans "or" %}</p>
                <div class="d-grid">
                    <a class="btn btn-secondary btn-lg"
                       href="{% url "social:begin" "google-oauth2" %}?{{ request.GET.urlencode }}">
                        <i class="bi bi-google"></i> &nbsp;
                        {% trans "Sign in with Google" %}
                    </a>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
{% block footer %}{% endblock %}