{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block "title" %}{% trans "Logout" %}{% endblock %}
{% block "body" %}
<div class="section"></div>
<main>
	<center>
		<h1 class="teal-text text-lighten-1" style="font-weight: 100;">TeamVault</h1>
		<div class="section"></div>
		<div class="container">
			<div class="row">
				<div class="col s12 m6 offset-m3 card" style="padding: 32px 48px 32px 48px;">
					{% trans "Logged out." %}&nbsp;
					<a href="{% url 'accounts.login' %}">{% trans "Log in again?" %}</a>
				</div>
			</div>
		</div>
	</center>
</main>
{% endblock %}
