{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block "title" %}{% trans "Logout" %}{% endblock %}
{% block "body" %}
<style>
body > .grid {
	height: 100%;
}
.column {
	max-width: 450px;
}
</style>
<div class="ui middle aligned center aligned grid">
	<div class="column">
		<h2 class="ui black header">
			<div class="content">TeamVault</div>
		</h2>
		<div class="ui segment">
			{% trans "Logged out." %}&nbsp;
			<a href="{% url 'accounts.login' %}">{% trans "Log in again?" %}</a>
		</div>
	</div>
</div>
{% endblock %}
