<div class="col-auto me-1"><i class="fa fa-fw fa-${data.value.icon}"></i></div>
<div class="col-10 search-modal-result-content">
    <span class="search-modal-result-content-title text-truncate">
        ${data.value.name}
    </span>
    <span class="search-modal-result-content-extras text-muted">
        ${data.value.meta}
    </span>
</div>
<div class="col-1 search-modal-result-action align-items-center">
    <i class="fa-solid fa-arrow-up-right-from-square search-modal-result-action-link p-2 rounded-5"></i>
</div>
