body {
	font-family: Lato;
	font-weight: 300;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #7F9BAD;
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #7F9BAD;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #7F9BAD;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #7F9BAD;
}

.background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background: #e6edf2;
	background: -moz-linear-gradient(top,  #e6edf2 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6edf2), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #e6edf2 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #e6edf2 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #e6edf2 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #e6edf2 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6edf2', endColorstr='#ffffff',GradientType=0 );
}
.login-icon {
	color: #4D5E69;
	font-size: 50px;
	margin-top: -20px;
	margin-bottom: 20px;
	text-align: center;
}
.login-wrapper {
	height: 400px;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
	position: fixed;
	top: 50%;
	width: 400px;
}
form.login {
	background-color: white;
	border-radius: 50px;
	box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.1);
	padding: 60px;
}
form.login .form-control, form.login button {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
form.login .form-control:focus {
	z-index: 3;
}
form.login input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
form.login input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
form.login button {
	border-top-right-radius: 0;
	color: #3F5D79;
	margin-top: -10px;
	z-index: 2;
}
form.login button:hover {
	color: #443c70;
}
