name: Run Django Tests on PR

on:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # based on django version in dependencies - minus 3.10 & 3.11 because of typing support
        python-version: [ "3.12", "3.13", "3.14"]

    env:
      TEAMVAULT_CONFIG_FILE: ${{ github.workspace }}/teamvault.cfg
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/teamvault
      PGPORT: 5432

    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_DB: teamvault
          POSTGRES_USER: teamvault
          POSTGRES_PASSWORD: teamvault
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    

    steps:
      - name: Install system build deps
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
          build-essential \
          libffi-dev \
          libldap2-dev \
          libpq-dev \
          libsasl2-dev \
          postgresql-contrib

      - uses: actions/checkout@v4

      - name: Set up bun
        id: bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Restore bun cache
        uses: actions/cache@v4
        with:
          path: /home/runner/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ steps.setup-bun.outputs.bun-version }}-${{ hashFiles('bun.lockb') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set Up uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/uv.lock
            **/pyproject.toml

      - name: Set up just
        uses: extractions/setup-just@v3

      - name: Cache venv
        uses: actions/cache@v4
        with:
          path: |
            .venv
          key: uv-venv-${{ runner.os }}-py${{ matrix.python-version }}-${{ hashFiles('**/uv.lock', '**/pyproject.toml') }}
          restore-keys: |
            uv-venv-${{ runner.os }}-py${{ matrix.python-version }}-

      - name: Install dependencies
        working-directory: ${{ github.workspace }}
        run: |
          uv sync && uv pip install -e .

      - name: Run Ruff format check
        working-directory: ${{ github.workspace }}
        run: |
          just check-format

      - name: Run Ruff
        working-directory: ${{ github.workspace }}
        run: |
          just check-lint

      - name: Activate venv for later steps
        shell: bash
        run: |
          echo "${{ github.workspace }}/.venv/bin" >> "$GITHUB_PATH"

      - name: Build frontend assets
        working-directory: ${{ github.workspace }}
        run: |
          bun install
          bun run build

      - name: Set Up TeamVault Config File
        working-directory: ${{ github.workspace }}
        run: |
          teamvault setup

      - name: Run Tests
        working-directory: ${{ github.workspace }}
        run: |
          just test
